// ---------------------------------------------------------------------
//  Base Global Styles
// ---------------------------------------------------------------------

html,
body {
    background: $black;
    font-size: 62.5%;
}

body {
    background: $white;
    // opacity: 0;
    transition: opacity 0.3s ease;

    &.page-ready {
        transition-delay: 0.6s;
        // opacity: 1;
    }
}

body,
input,
button,
select,
textarea {
    font-family: $main-font;
    font-size: 15px;
    line-height: $base-line-height;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    color: $gray;

    @include start-at($medium) {
        font-size: $base-font-size;
    }
}


.grid {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &[href^="tel:"] {

        &:hover {
            cursor: default;
        }
    }
}

[data-scroll-to],
[data-click-target] {
    cursor: pointer;
}

img,
video {
    height: auto;
    max-width: 100%;
    display: block;
}
figure,
img {
    margin: 0;
    padding: 0;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

hr {

}

@mixin selection {
    color: $white;
    background: $brand;
}

::selection {
    @include selection;
}
::-moz-selection {
    @include selection;
}
