// ---------------------------------------------------------------------
//  Link & Button Styles
// ---------------------------------------------------------------------

@mixin btn {
    position: relative;
    display: inline-block;
    text-align: center;
    width: auto;
    background: $blue-400;
    border-radius: 3px;
    border: 1px solid $blue-400;
    color: $white;
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    padding: 17px 36px;
    min-width: 264px;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    transition: background $trans, border-color $trans, color $trans;

    @include stop-at($small) {
        width: 100%;
    }

    @include start-at($medium) {
        font-size: 18px;
    }



    &:hover {
        cursor: pointer;
        color: $white;
        background: $blue-500;
        border-color: $blue-500;
    }

    &[disabled] {
        opacity: 0.2;
        pointer-events: none;
    }

    &.equal-width {
        min-width: 254px;
    }
}

.btn {
    @include btn;
}

.btn--outline {

    background: transparent;
    color: $blue-400;
    border-color: $blue-400;

    &:hover {

    }
}

.btn--download {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 15px;
        height: 20px;
        transform: scale(0);
        display: none;
    }

    &.btn--completed {
        background: $green-500;
        border-color: $green-500;

        svg {
            display: block;
            margin-left: 12px;
            animation-delay: 0.5s;
            animation: bop 0.4s ease-in-out 1 forwards;
        }
    }
}

@keyframes bop {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.4);
    }
    95% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}


// ----------------------------------------
// Links
// ----------------------------------------

.link {
    font-size: 15px;
    letter-spacing: -.02px;
    color: $blue-400;
    font-weight: 500;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        margin-left: 8px;
    }
}

.program-page a, .program-page > a, .link-standard {
    color: $blue-400 !important;
    text-decoration: underline;

    :hover {
        text-decoration: underline;
    }
}

.link-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    font-family: $mono;
    position: relative;
    padding-right: 18px;
    margin-right: 24px;
    font-size: 15px;

    &.text-brand {
        color: $brand-dark !important;
    }

    &:before {
        font-family: $icons;
        content: '\E72A';
        display: block;
        transition: transform $trans;
        margin-right: 12px;
    }

    &:hover {
        &:before {
            transform: translate3d(2px, 0, 0);
        }
    }
}

.link-arrow-external {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    font-family: $mono;
    color: $brand-dark;
    position: relative;
    padding-right: 18px;
    margin-right: 24px;
    font-size: 15px;

    &:after {
        font-family: $icons;
        content: '\E72A';
        transform: rotate(-45deg);
        display: block;
        transition: transform $trans;
        margin-left: 12px;
    }

    &:hover {
        &:after {
            transform: translate3d(2px, -2px, 0) rotate(-45deg);
        }
    }
}


// ----------------------------------------
//
// ----------------------------------------

.noTouch .tel,
.noTouch .tel:hover {
    cursor: text;
}
