// ---------------------------------------------------------------------
//  Typography Styles
// ---------------------------------------------------------------------

// ----------------------------------------
// Headings
// ----------------------------------------


.h1-xl {
    display: block;
    font-family: $sans-serif;
    font-weight: 600 !important;
    font-size: 54px !important;
    line-height: 1;
    letter-spacing: 0;
    color: $brand;

    span {
        display: block;
    }

    @include start-at($small) {
        font-size: 84px !important;
    }

    @include start-at($medium) {
        font-size: 64px !important;
    }


    @include start-at($large) {
        font-size: 92px !important;
    }

    @include start-at(1300px) {
        font-size: 118px !important;
    }
}

.h1 {
    display: block;
    font-family: $sans-serif;
    font-weight: 600 !important;
    line-height: 1;

    color: $brand;
    font-size: 48px !important;
    letter-spacing: 0;

    span {
        display: block;
    }

    @include start-at($medium) {
        font-size: 68px !important;
    }

}


.h2  {
    display: block;
    font-family: $sans-serif;
    font-weight: 600 !important;
    line-height: 1;
    font-size: 36px !important;
    letter-spacing: 0;

    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }


    @include start-at($medium) {
        font-size: 48px !important;
    }
}


.h3 {
    display: block;
    font-family: $sans-serif;
    font-weight: 600 !important;
    line-height: 1;
    font-size: 24px !important;
    letter-spacing: 0;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }


    @include start-at($medium) {
        font-size: 32px !important;
    }
}


.h4 {
    font-family: $sans-serif;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 1.25;
    color: $black;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    @include start-at($medium) {
        font-size: 24px !important;;
    }
}

.h5 {
    font-family: $sans-serif;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 1.25;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    @include start-at($medium) {
        font-size: 20px !important;;
    }
}

.h6 {
    font-family: $sans-serif;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 1.25;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    @include start-at($medium) {
        font-size: 18px !important;;
    }
}




// ----------------------------------------
// Paragraph Style Mixins
// ----------------------------------------

@mixin para {
    display: block;
    font-family: $sans-serif;
    line-height: $base-line-height;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;

    @include start-at($medium) {
        font-size: $base-font-size;
    }
}

.p,
p {
    @include para;
    color: $gray-600;

    + p {
        margin-top: 18px;
    }

    a {
        color: $blue-400;
    }

    .text-white & {
        color: $white;
    }
}


@mixin p-sm {
    display: block;
    font-family: $sans-serif;
    line-height: $base-line-height;
    font-size: 12px;
    margin-bottom: 0;

    @include start-at($medium) {
        font-size: 14px;
    }
}
.p-sm,
small {
    @include p-sm;
}


.p-lg {
    display: block;
    font-family: $sans-serif;
    font-size: 16px;
    line-height: $base-line-height;
    font-weight: 600;
    margin-bottom: 0;

    @include start-at($medium) {
        font-size: 18px;
    }
}


.font-mono {
    font-family: $mono;
    font-weight: 400 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}
