# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf
tabCompletion = on
