---
layout: default
id: azure-credits
title: Azure Credits for Open Source Projects
permalink: /azure-credits/
---

<article class="program-page">
    <div class="page-header">
        <div class="wrapper">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h1 class="h2">Azure credits for open source projects</h2>
            </div>
        </div>
    </div>
<!--
    <div class="wrapper-full bg-light">
        <div class="wrapper my-6 py-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h3 class="h4 font-weight-400 mb-4">
                  We are offering Azure credits to open source projects for their use for testing, builds, 
                  and other infrustructure support needs. Projects must apply for credits. Applications are 
                  reviewed and applicants will be contacted with a decision within 3-4 weeks.
                </h3>
            </div>
        </div>
    </div>
-->
    <div class="tabs">
        <nav class="wrapper my-6" data-require-javascript="yes" data-javascript-show="immediate">
            <div class="col-md-10 col-lg-7 mx-auto">
                <div class="tabs__tabs" role="tablist">
                    <a class="tabs__tab is-active" role="tab" href="#credits-overview" data-tab="credits-overview">Overview</a>
                    <a class="tabs__tab" href="#credits-faq" role="tab" data-tab="credits-faq">FAQ</a>
                    <a class="tabs__tab" href="#credits-apply" role="tab" data-tab="credits-apply">Apply</a>
                </div>
            </div>
        </nav>

        <div class="wrapper my-6 pt-lg-3 pb-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <noscript><h2>Overview</h2></noscript>
                <div class="tabs__content is-active" data-tab="credits-overview">
                    {% include credits-overview.html %}
                </div>

                <div class="tabs__content" data-tab="credits-faq">
                    <noscript><h2>FAQ</h2></noscript>
                    {% include credits-faq.html %}
                </div>

                <div class="tabs__content" data-tab="credits-apply">
                    <noscript><h2>Apply</h2></noscript>
                    {% include credits-apply.html %}
                </div>
        </div>
    </div>

</article>
