---
layout: default
id: collaborate
permalink: /collaborate/
title: Collaborate
---


<article>
    <div class="page-header">
        <div class="wrapper d-md-flex">
            <div class="col-md-6 col-lg-6 mb-4 mb-md-0">
                <h1 class="h2">Get involved</h1>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <p>
                    Right now, open communities are building amazing software together, and
                    there are excellent "first good issue" opportunities, if you're looking
                    where to get involved.
                </p>

                <!--
                <div data-animate-in="fade" data-animate-in-delay="240">
                    <a class="link-arrow text-white mt-4" href="{{ '/' | relative_url }}">Join the community</a>
                </div>
                -->
            </div>
        </div>
    </div>

    <!--
    <div class="wrapper my-6 py-6">
        <div class="d-md-flex flex-items-center">
            <div class="col-md-6 col-lg-5 pr-md-4 pr-lg-6 mb-4 mb-md-0">
                <h2 class="h2">// Under construction</h2>
                <p>This page is under development... stand by.</p>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <img class="mb-4" src="{{ '/assets/images/direction/community-shapes.svg' | relative_url }}" alt="" />
            </div>
        </div>
    </div>
    <hr class="wrapper" />
    -->

    <div class="wrapper py-6 my-6">

        <div class="d-sm-flex flex-wrap">

            <div id="activityFeed">
                <ul class="project-list" id="activityList">
                    
                </ul>
            </div>
            <script id="activity-template" type="text/x-handlebars-template">
                <li>
                    {% include activity.html %}
                </li>
            </script>

        </div>
    </div>

    <!-- TODO: hide, but verify we can still retrieve the SVG content at runtime with jQuery -->
    <div id="octicons-temp">
        {% octicon star %}
        {% octicon repo-forked %}
        {% octicon issue-opened %}
        {% octicon pin %}
        {% octicon plus %}
        {% octicon pulse %}
        {% octicon reply %}
        {% octicon quote %}
        {% octicon tag %}
        {% octicon versions %}
        {% octicon code-review %}
        {% octicon comment-discussion %}
        {% octicon comment %}
        {% octicon commit %}
        {% octicon diff %}
        {% octicon file-binary %}
        {% octicon git-merge %}
        {% octicon git-pull-request %}
        {% octicon issue-reopened %}
    </div>

    <div class="wrapper-full bg-brand-dark text-white">
        <div class="wrapper py-6 my-6">
            <h3 class="h3">Community Resources</h3>
            <div class="d-md-flex">
                <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                    <p>Microsoft open source projects adopt a consistent community Code of Conduct. All
                        Microsoft projects require contributors to sign the individual Contributor License Agreement
                        (CLA)
                        one time.</p>
                </div>
                <div class="col-md-6 pl-md-4 pl-lg-6">
                    {% for resources in site.data.community %}
                    {% for resource in resources.resources %}
                    <div>
                        <a class="link-arrow-external mb-2" href="{{ resource.url }}">{{ resource.title }}</a>
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</article>


<script>
    var $ = jQuery,
        activityFeed = $('#activityFeed'),
        activityList = $('#activityList'),
        source = $("#activity-template").html(),
        template = Handlebars.compile(source);

    var futureContinuation = null;
    var backwardContinuation = null;

    var rendering = null;
    var alive = true;
    var queuedActivity = [];
    var visibleActivity = [];
    var pinnedActivity = [];

    var refreshInterval = 7500;
    var displayInterval = 1500;

    var incrementalId = 0;
    var initialDisplay = 5;
    var maximumVisible = 8;

    function start() {
        alive = true;
        iteration();
    }

    function renderNext() {
        if (!alive) return;
        if (queuedActivity && queuedActivity.length) {
            const oldest = queuedActivity.pop();
            try {
                const id = ++incrementalId;
                var html = template({activity: oldest, id: id});
                activityList.prepend(html);
                visibleActivity.push(id);
                jQuery('time.timeago').timeago();
            } catch (ignoredError) {
                console.dir(ignoredError);
            }
        }
        if (visibleActivity.length > maximumVisible) {
            cleanupDisplay();
        }
        if (visibleActivity.length < initialDisplay && queuedActivity.length) {
            setInterval(renderNext, 1);
        }
    }

    function cleanupDisplay() {
        var cleanupIds = [];
        while (visibleActivity.length > maximumVisible) {
            cleanupIds.push(visibleActivity.shift());
        }
        console.log('Will remove: ' + cleanupIds.join(', '));
        cleanupIds.forEach(id => {
            try {
                $('#activity' + id).remove();
            } catch (error) {
                console.log(error);
            };
        });
    }
    
    function iteration() {
        if (!alive) return;
        const qs = futureContinuation ? '?future=' + encodeURIComponent(futureContinuation) : '';
        $.ajax({
            type: 'GET',
            url: '/api/stream' + qs,
            dataType: 'json',
            success: function(activity){
                if (activity && activity.future) {
                    futureContinuation = activity.future;
                }
                if (activity && activity.past && !backwardContinuation) {
                    backwardContinuation = activity.past;
                }
                if (activity && activity.activities) {
                    activity.activities.forEach(activity => queuedActivity.push(activity));
                    if (activity.activities.length && !rendering) {
                        renderNext();
                        rendering = setInterval(renderNext, displayInterval);
                    }
                }
                setTimeout(iteration, refreshInterval);
            }
        });
    }
    start();
</script>
