---
layout: default
id: collaborate
permalink: /collaborate/
title: Collaborate
---


<article>
    <div class="page-header">
        <div class="wrapper d-md-flex">
            <div class="col-md-6 col-lg-6 mb-4 mb-md-0">
                <h1 class="h2">Get involved</h1>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <p>
                    Right now, open communities are building amazing software together, and
                    there are excellent "first good issue" opportunities, if you're looking
                    where to get involved.
                </p>

                <!--
                <div data-animate-in="fade" data-animate-in-delay="240">
                    <a class="link-arrow text-white mt-4" href="{{ '/' | relative_url }}">Join the community</a>
                </div>
                -->
            </div>
        </div>
    </div>

    <!--
    <div class="wrapper my-6 py-6">
        <div class="d-md-flex flex-items-center">
            <div class="col-md-6 col-lg-5 pr-md-4 pr-lg-6 mb-4 mb-md-0">
                <h2 class="h2">Happening now</h2>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <img class="mb-4" src="{{ '/assets/images/direction/community-shapes.svg' | relative_url }}" alt="" />
            </div>
        </div>
    </div>
    <hr class="wrapper" />
    -->
    <div class="wrapper py-6 my-6">
        <h3 class="h3">Happening now</h3>
        <div class="d-sm-flex flex-wrap">
            <div id="activityFeed">
                <ul class="project-list" id="activityList">
                    
                </ul>
            </div>
            <script id="activity-template" type="text/x-handlebars-template">
                <li>
                    {% include activity.html %}
                </li>
            </script>
        </div>
    </div>



    <hr class="wrapper" />



    <div class="wrapper my-6 py-6">
        <div class="d-md-flex flex-items-center">
            <div class="col-md-6 col-lg-5 pr-md-4 pr-lg-6 mb-4 mb-md-0">
                <h2 class="h3">Get started</h2><!-- using H3 to make the sizing better -->
                <p>
                    Issues tagged as "good first issue" are a great 
                    chance to start participating in an open online
                    community.
                </p>
                <p>
                    A few good resources to learn about getting involved in online communities:
                </p>
                <!-- TODO: what style classes are needed for these? -->
                <ul>
                    <li><a href="https://opensource.guide/how-to-contribute/" target="_new">How to Contribute to Open Source</a>, from the <a href="https://opensource.guide" target="_new">Open Source Guides</a> at opensource.guide</li>
                    <li><a href="https://opensource.microsoft.com/codeofconduct/" target="_new">Microsoft's Open Source Code of Conduct</a>, to encourage friendly participation and inclusion</li>
                    <li><a href="https://cla.opensource.microsoft.com" target="_new">Microsoft's Contributor License Agreement (CLA)</a>, a one-time agreement for first-time contributors to Microsoft or .NET Foundation projects</li>
                </ul>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <img class="mb-4" src="{{ '/assets/images/direction/community-shapes.svg' | relative_url }}" alt="" />
            </div>
        </div>
    </div>
    
    <div class="wrapper py-6 my-6">
        <div class="d-sm-flex flex-wrap">
            <div id="goodFirstIssueFeed">
                <ul class="project-list" id="goodFirstIssueList">
                </ul>
            </div>
            <script id="goodfirstissue-template" type="text/x-handlebars-template">
                <li>
                    {% include good-first-issue.html %}
                </li>
            </script>
        </div>
    </div>



    <hr class="wrapper" />



    <div class="wrapper py-6 my-6">
        <h3 class="h3">Recent contributions</h3>
        <p>
            Thousands of Microsoft engineers are active in open source communities, 
            whether contributing for work, hobbies, or maintaining other projects.
        </p>
        <p>
            Here are some recent contributions that have been made to projects on GitHub.
        </p>
        <div class="d-sm-flex flex-wrap">
            <div id="contributionsFeed">
                <ul class="project-list" id="contributionsList">
                    
                </ul>
            </div>
            <script id="contributions-template" type="text/x-handlebars-template">
                <li>
                    {% include upstream-contribution.html %}
                </li>
            </script>
        </div>
    </div>



    



    <script id="octicon-star" type="text/x-octicon">{% octicon star %}</script>
    <script id="octicon-repo-forked" type="text/x-octicon">{% octicon repo-forked %}</script>
    <script id="octicon-issue-opened" type="text/x-octicon">{% octicon issue-opened %}</script>
    <script id="octicon-pin" type="text/x-octicon">{% octicon pin %}</script>
    <script id="octicon-plus" type="text/x-octicon">{% octicon plus %}</script>
    <script id="octicon-pulse" type="text/x-octicon">{% octicon pulse %}</script>
    <script id="octicon-reply" type="text/x-octicon">{% octicon reply %}</script>
    <script id="octicon-quote" type="text/x-octicon">{% octicon quote %}</script>
    <script id="octicon-tag" type="text/x-octicon">{% octicon tag %}</script>
    <script id="octicon-versions" type="text/x-octicon">{% octicon versions %}</script>
    <script id="octicon-comment-discussion" type="text/x-octicon">{% octicon comment-discussion %}</script>
    <script id="octicon-comment" type="text/x-octicon">{% octicon comment %}</script>
    <script id="octicon-git-commit" type="text/x-octicon">{% octicon git-commit %}</script>
    <script id="octicon-diff" type="text/x-octicon">{% octicon diff %}</script>
    <script id="octicon-file-binary" type="text/x-octicon">{% octicon file-binary %}</script>
    <script id="octicon-git-merge" type="text/x-octicon">{% octicon git-merge %}</script>
    <script id="octicon-git-pull-request" type="text/x-octicon">{% octicon git-pull-request %}</script>
    <script id="octicon-issue-reopened" type="text/x-octicon">{% octicon issue-reopened %}</script>
   
    <div class="wrapper-full bg-brand-dark text-white">
        <div class="wrapper py-6 my-6">
            <h3 class="h3">Community Resources</h3>
            <div class="d-md-flex">
                <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                    <p>Microsoft open source projects adopt a consistent community Code of Conduct. All
                        Microsoft projects require contributors to sign the individual Contributor License Agreement
                        (CLA)
                        one time.</p>
                </div>
                <div class="col-md-6 pl-md-4 pl-lg-6">
                    {% for resources in site.data.community %}
                    {% for resource in resources.resources %}
                    <div>
                        <a class="link-arrow-external mb-2" href="{{ resource.url }}">{{ resource.title }}</a>
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</article>


<script>
    // TODO: pause button
    // TODO: more button, which will pause
    // TODO: implement "more" experience and separate API for that

    // TODO: parallel experience, slow poll - contributions
    // TODO: parallel experience, slow poll - good first issue

    // CONSIDER: start paused
    // INVESTIGATE: are there browser/window events are obscured/not actively on the tab/idle to connect to and auto-pause?

    // --- 
    // this is the primary near real-time activity feed

    var $ = jQuery,
        activityFeed = $('#activityFeed'),
        activityList = $('#activityList'),
        source = $("#activity-template").html(),
        template = Handlebars.compile(source);
    
    var octicons = {};

    var futureContinuation = null;
    var backwardContinuation = null;

    var rendering = null;
    var alive = true;
    var queuedActivity = [];
    var visibleActivity = [];
    var pinnedActivity = [];
    var visibleIds = {};

    var refreshInterval = 7500;
    var displayInterval = 1500;

    var initialDisplay = 5;
    var maximumVisible = 8;

    function start() {
        alive = true;
        iteration();
    }

    function tryGetOcticon(name) {
        if (octicons[name] !== undefined) {
            return octicons[name];
        }
        var html = octicon = $('#octicon-' + name).html();
        octicons[name] = html || '';
        return html;
    }

    function octiconFromType(type, optionalContext) {
        if (optionalContext === 'merged') {
            return 'git-merge';
        }
        switch(type) {
            case 'issue_comment.created':
            case 'pull_request_review_comment.created':
                return 'comment';
            case 'issues.opened':
            case 'issues.labeled':
                return 'issue-opened';
            case 'issues.reopened':
               return 'issue-reopened';
            default:
                return null;
        }
    }

    function descriptionFromType(type, optionalContext) {
        if (optionalContext === 'merged') {
            return 'merged a pull request';
        }
        switch(type) {
            case 'pull_request.opened':
                return 'opened a pull request';
            case 'issue_comment.created':
                return 'commented on an issue';
            case 'pull_request_review_comment.created':
                return 'commented on a pull request';
            case 'issues.opened':
                return 'opened an issue';
            case 'issues.reopened':
               return 're-opened an issue';
            case 'pull_request_review.submitted':
                return 'reviewed a pull request';
            case 'issues.labeled':
                return 'good first issue';
            default:
                return type;
        }
    }

    function renderNext() {
        if (!alive) return;
        if (queuedActivity && queuedActivity.length) {
            var activity = queuedActivity.pop();
            try {
                var id = activity.id;
                if (!visibleIds[id]) {
                    var octicon = octiconFromType(activity.type, activity.context);
                    var html = template({
                        activity: activity, 
                        id: id, 
                        octicon: tryGetOcticon(octicon),
                        description: descriptionFromType(activity.type, activity.context),
                    });
                    activityList.prepend(html);
                    visibleActivity.push(id);
                    visibleIds[id] = activity.created;
                    jQuery('time.timeago').timeago();
                }
            } catch (ignoredError) {
                console.dir(ignoredError);
            }
        }
        if (visibleActivity.length > maximumVisible) {
            cleanupDisplay();
        }
        if (visibleActivity.length < initialDisplay && queuedActivity.length) {
            setInterval(renderNext, 1);
        }
    }

    function cleanupDisplay() {
        var cleanupIds = [];
        while (visibleActivity.length > maximumVisible) {
            cleanupIds.push(visibleActivity.shift());
        }
        cleanupIds.forEach(id => {
            delete visibleIds[id];
            try {
                $('#activity' + id).remove();
            } catch (error) {
                console.log(error);
            };
        });
    }
    
    function iteration() {
        if (!alive) return;
        var qs = futureContinuation ? '?future=' + encodeURIComponent(futureContinuation) : '';
        $.ajax({
            type: 'GET',
            url: '/api/stream' + qs,
            dataType: 'json',
            success: function(activity){
                if (activity && activity.future) {
                    futureContinuation = activity.future;
                }
                if (activity && activity.past && !backwardContinuation) {
                    backwardContinuation = activity.past;
                }
                if (activity && activity.activities) {
                    activity.activities.forEach(activity => queuedActivity.push(activity));
                    if (activity.activities.length && !rendering) {
                        renderNext();
                        rendering = setInterval(renderNext, displayInterval);
                    }
                }
                setTimeout(iteration, refreshInterval);
            }
        });
    }

    start();

    // ---------------------
    // this is a one-time pull of "good first issue"

    var goodFirstIssueFeed = $('#goodFirstIssueFeed'),
        goodFirstIssueList = $('#goodFirstIssueList'),
        goodFirstIssueSource = $("#goodfirstissue-template").html(),
        goodFirstIssueTemplate = Handlebars.compile(goodFirstIssueSource);

    var initialGoodFirstIssueDisplay = 6;

    function renderGoodFirstIssues(goodFirstIssues) {
        var shown = 0;
        if (goodFirstIssues && goodFirstIssues.length) {
            var gfi = goodFirstIssues.pop();
            while (gfi) {
                try {
                    if (shown++ < initialGoodFirstIssueDisplay) {
                        var id = gfi.id;
                        if (!visibleIds[id]) {
                            var octicon = octiconFromType(gfi.type, gfi.context);
                            var html = goodFirstIssueTemplate({
                                activity: gfi, 
                                id: id, 
                                octicon: tryGetOcticon(octicon),
                                description: descriptionFromType(gfi.type, gfi.context),
                            });
                            goodFirstIssueList.prepend(html);
                            jQuery('time.timeago').timeago();
                        }
                    }
                } catch (ignoredError) {
                    console.dir(ignoredError);
                }
                gfi = goodFirstIssues.pop();
            }
        }
    }

    function loadGoodFirstIssues() {
        $.ajax({
            type: 'GET',
            url: '/api/issues',
            dataType: 'json',
            success: function(firstIssues){
                if (firstIssues && firstIssues.issues) {
                    renderGoodFirstIssues(firstIssues.issues);
                }
            }
        });
    }

    // just one-time
    loadGoodFirstIssues();



    // ---------------------
    // this is a one-time pull of "contributions"

    var contributionsFeed = $('#contributionsFeed'),
        contributionsList = $('#contributionsList'),
        contributionsSource = $("#contributions-template").html(),
        contributionsTemplate = Handlebars.compile(contributionsSource);

    var initialContributionsDisplay = 6;

    function renderContributions(contributions) {
        var shown = 0;
        if (contributions && contributions.length) {
            var contribution = goodFirstIssues.pop();
            while (contribution) {
                try {
                    if (shown++ < initialContributionsDisplay) {
                        var id = contribution.id;
                        if (!visibleIds[id]) {
                            var octicon = octiconFromType(contribution.type, contribution.context);
                            var html = goodFirstIssueTemplate({
                                activity: contribution, 
                                id: id, 
                                octicon: tryGetOcticon(octicon),
                                description: descriptionFromType(contribution.type, contribution.context),
                            });
                            contributionsList.prepend(html);
                            jQuery('time.timeago').timeago();
                        }
                    }
                } catch (ignoredError) {
                    console.dir(ignoredError);
                }
                contribution = goodFirstIssues.pop();
            }
        }
    }

    function loadContributions() {
        $.ajax({
            type: 'GET',
            url: '/api/contributions',
            dataType: 'json',
            success: function(contributions){
                if (contributions && contributions.contributions) {
                    renderContributions(contributions.contributions);
                }
            }
        });
    }

    // just one-time
    loadContributions();


</script>
