---
layout: default
id: community
permalink: /community/
---


<article>
    <div class="page-header">
        <div class="wrapper d-md-flex">
            <div class="col-md-6 col-lg-6 mb-4 mb-md-0">
                <h1 class="h2">Community</h1>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <p>We are proud to support amazing projects, from the largest open source foundations, to sponsoring individual projects that help bring value to the open source ecosystem, to Microsoft and our customers, and to you.</p>

                <!--
                <div data-animate-in="fade" data-animate-in-delay="240">
                    <a class="link-arrow text-white mt-4" href="{{ '/' | relative_url }}">Join the community</a>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="wrapper my-6 py-6">
        <div class="d-md-flex flex-items-center">
            <div class="col-md-6 col-lg-5 pr-md-4 pr-lg-6 mb-4 mb-md-0">
                <h2 class="h2">Friends</h2>
                <p>Microsoft is proud to sponsor open source projects, foundations, and more.</p>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">

                <img class="mb-4" src="{{ '/assets/images/direction/community-shapes.svg' | relative_url }}" alt="" />
            </div>
        </div>
    </div>

    <hr class="wrapper" />


    <div class="wrapper py-6 my-6">

        <div class="d-sm-flex flex-wrap">

            {% for projects in site.data.community %}
            {% for project in projects.projects %}

            {% if project.externalLogo %}
            {% assign img = project.externalLogo %}
            {% else %}
            {% capture img %}/assets/images/projects/{{ project.logo }}{% endcapture %}
            {% endif %}

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pr-sm-3 pr-lg-4 mb-6" data-animate-in="fade" data-animate-in-delay="200">
                <img class="mb-4 icon" src="{{ img | relative_url }}" alt="{{ project.title }} logo" />
                <h3 class="h6 text-brand">{{ project.title }}</h3>
                <p>{{ project.description }}</p>
            </div>
            {% if project.url %}
            <a class="link-arrow-external mt-3" href="{{ project.url }}">Learn more</a>
            {% endif %}
            {% endfor %}
            {% endfor %}

        </div>

    </div>


    
    
    
    
    
    
    <div class="wrapper my-6 py-6">
        <div class="d-md-flex flex-items-center">
            <div class="col-md-6 col-lg-5 pr-md-4 pr-lg-6 mb-4 mb-md-0">
                <h2 class="h2">Conferences</h2>
                <!-- <p>Microsoft is proud to sponsor open source projects, foundations, and more.</p> -->
            </div>
            <!--
            <div class="col-md-6 pl-md-4 col-lg-4">
                <img class="mb-4" src="{{ '/assets/images/direction/community-shapes.svg' | relative_url }}" alt="" />
            </div>
            -->
        </div>
    </div>

    <hr class="wrapper" />

    <div class="wrapper py-6 my-6">

        <div class="d-sm-flex flex-wrap">

            {% for conference in site.data.community %}

            {% if conference.externalLogo %}
            {% assign img = conference.externalLogo %}
            {% else %}
            {% capture img %}/assets/images/projects/{{ conference.logo }}{% endcapture %}
            {% endif %}

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pr-sm-3 pr-lg-4 mb-6" data-animate-in="fade" data-animate-in-delay="200">
                <img class="mb-4 icon" src="{{ img | relative_url }}" alt="{{ conference.title }} logo" />
                <h3 class="h6 text-brand">{{ conference.title }}</h3>
                <p>{{ conference.description }}</p>
            </div>
            {% if conference.url %}
            <a class="link-arrow-external mt-3" href="{{ conference.url }}">Learn more</a>
            {% endif %}

            {% endfor %}

        </div>

    </div>

    
    
    
    <div class="wrapper-full bg-brand text-white">
        <div class="wrapper py-6 my-6">
            <h3 class="h3">Community Resources</h3>
            <div class="d-md-flex">
                <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                    <p>Microsoft open source projects adopt a consistent community Code of Conduct. All 
                    Microsoft projects require contributors to sign the individual Contributor License Agreement (CLA)
                    one time.</p>
                </div>
                <div class="col-md-6 pl-md-4 pl-lg-6">
                    {% for resources in site.data.community %}
                    {% for resource in resources.resources %}
                    <div>
                        <a class="link-arrow-external mb-2" href="{{ resource.url }}">{{ resource.title }}</a>
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</article>
