---
layout: default
id: contributions
permalink: /contributions/
title: Contributions
---


<article>
    <div class="page-header">
        <div class="wrapper d-md-flex">
            <div class="col-md-6 col-lg-6 mb-4 mb-md-0">
                <h1 class="h2">Contributions</h1>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <p>
                    Microsoft's engineers can be found participating 
                    in communities throughout the Internet and GitHub.
                </p>
                <div data-animate-in="fade" data-animate-in-delay="240">
                    <a class="link-arrow text-white mt-4" href="{{ '/collaborate/' | relative_url }}">Get involved</a>
                </div>
            </div>
        </div>
    </div>

    



    <div class="wrapper py-6 my-6">
        <h3 class="h3">Recent contributions</h3>
        <p>
            Thousands of Microsoft engineers are active in open source communities, 
            whether contributing for work, hobbies, or maintaining other projects.
        </p>
        <p>
            Here are some recent contributions that have been made to projects on GitHub.
        </p>
        <p>
          While many public highlighted contributions here may be for official work, 
          Microsoft does not endorse any contribution listed here.
        </p>
        <div class="d-sm-flex flex-wrap" style="min-height:400px">
            <div id="contributionsFeed">
                <ul class="project-list" id="contributionsList">
                    
                </ul>
            </div>
            <script id="contributions-template" type="text/x-handlebars-template">
                <li>
                    {% include upstream-contribution.html %}
                </li>
            </script>
        </div>
    </div>

    {% include octicons.html %}

    




    <div class="wrapper-full bg-brand-dark text-white">
        <div class="wrapper py-6 my-6">
            <h3 class="h3">Community Resources</h3>
            <div class="d-md-flex">
                <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                    <p>Microsoft open source projects adopt a consistent community Code of Conduct. All
                        Microsoft projects require contributors to sign the individual Contributor License Agreement
                        (CLA)
                        one time.</p>
                </div>
                <div class="col-md-6 pl-md-4 pl-lg-6">
                    {% for resources in site.data.community %}
                    {% for resource in resources.resources %}
                    <div>
                        <a class="link-arrow-external mb-2" href="{{ resource.url }}">{{ resource.title }}</a>
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</article>


<script>
    {% include upstream-contributions.js %}
</script>
