---
layout: default
id: ecosystem
permalink: /ecosystem/
title: Ecosystem
---


<article>
    <div class="page-header">
        <div class="wrapper d-md-flex">
            <div class="col-md-6 col-lg-6 mb-4 mb-md-0">
                <h1 class="h2">Ecosystem</h1>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <p>
                    Microsoft is proud to support amazing open source projects, initiatives, foundations,
                    and contribute to thousands of open source communities on GitHub and beyond.
                </p>
                <p>
                    Here are just a few of the ways that we're working to collectively empower
                    every person and every organization on the planet to achieve more.
                </p>
                <div data-animate-in="fade" data-animate-in-delay="240">
                    <a class="link-arrow text-white mt-4" href="{{ '/contribute' | relative_url }}">Get involved</a>
                </div>
            </div>
        </div>
    </div>



    <div class="wrapper my-6 py-6">
        <div class="d-md-flex flex-items-center">
            <div class="col-md-6 col-lg-5 pr-md-4 pr-lg-6 mb-4 mb-md-0">
                <h2 class="h2">FOSS Fund</h2>
                <p>
                    The Free and Open Source Software Fund (FOSS Fund) is a
                    way for our employees to collectively select open source
                    projects to receive $10,000 sponsorship awards throughout the year.
                </p>
                <p>
                    Microsoft's engineers select projects they are super passionate
                    about. Only employees who contribute to open source projects can
                    participate in the selection process.
                </p>
                <p>
                    <a class="link-arrow-external" href="https://aka.ms/microsoftfossfund" target="_new">
                        Learn about the Microsoft FOSS Fund process
                    </a>
                </p>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <img class="mb-4" src="{{ '/assets/images/direction/community-shapes.svg' | relative_url }}" alt="" />
            </div>
        </div>
    </div>

    <div class="wrapper py-6 my-6">

        <div class="d-sm-flex flex-wrap">
            {% for post in site.fossfund %}
            {% assign img = nil %}
            {% if post.externalLogo %}
            {% assign img = post.externalLogo %}
            {% elsif post.logo %}
            {% capture img %}/assets/images/fossfund/{{ post.logo }}{% endcapture %}
            {% endif %}
            <div class="col-12 col-sm-6 col-md-4 pr-sm-3 pr-lg-4 mb-6" data-animate-in="fade"
                data-animate-in-delay="200">
                {% if post.projectUrl %}
                    <a class="mb-3" href="{{ post.projectUrl }}" target="_new">
                    {% if img %}
                        <img class="mb-4 icon" src="{{ img | relative_url }}" alt="{{ post.title }} logo" />
                    {% else %}
                        <span class="mb-4 icon"></span>
                    {% endif %}
                    <h3 class="h3 mb-3 text-brand">{{ post.title }}</h3>
                    </a>
                {% else %}
                    {% if img %}
                        <img class="mb-4 icon" src="{{ img | relative_url }}" alt="{{ post.title }} logo" />
                    {% else %}
                        <span class="mb-4 icon"></span>
                    {% endif %}
                    <h3 class="h3 mb-3 text-brand">{{ post.title }}</h3>
                {% endif %}
                <p>{{ post.description }}</p>
                {% if post.processing %}
                <p class="f5">{{ post.processing }}</p>
                {% endif %}
                {% if post.context %}
                <p class="f5">{{ post.context }}</p>
                {% endif %}
                {% if post.projectUrl %}
                    <a class="link-arrow-external mt-3" href="{{ post.projectUrl }}">
                    {% if post.linkText %}
                        {{ post.linkText }}
                    {% else %}
                        Learn about {{ post.title }}
                    {% endif %}
                    </a>
                {% endif %}
                {% if post.fund %}
                    <!-- <p class="h5">{{ post.fund }}</p> -->
                {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>



    <hr class="wrapper" />




    <div class="wrapper my-6 py-6">
        <div class="col-lg-8 mx-auto">
            <div>
                <h2 class="h2">Recent Contributions</h2>
                <p>
                    Whether an official contribution as part of a team's business goals,
                    an after-hours project in robotics and hackathons, or contributions to
                    non-profits and communities, our employees are always involved.
                </p>
            </div>
        </div>
    </div>
    {% include octicons.html %}
    <div class="wrapper py-6 my-6">
        <div class="col-lg-8 mx-auto">
            <div class="d-sm-flex flex-wrap" style="min-height:350px">
                <div id="contributionsFeed" class="col-12">
                    <noscript>
                        <h2>JavaScript is required for this interactive feature.</h2>
                        <p>This section works best with JavaScript. A feed of recent contributions is used with a REST API and JavaScript.</p>
                    </noscript>
                    <ul class="project-list" id="contributionsList"></ul>
                </div>
                <script id="contributions-template" type="text/x-handlebars-template">
                    <li>
                        {% include activity.html %}
                        {% comment %}
                        {# include upstream-contribution.html #}
                        {% endcomment %}
                    </li>
                </script>
            </div>
        </div>
        <div class="mt-6 col-lg-8 mx-auto">
            <p class="t6">NOTE: This data represents contributions on GitHub that some of our employees have opted in to sharing. Microsoft does not endorse any particular contribution here, as this list will include everything from hobbyist work through official upstream contributions.</p>
        </div>
    </div>




    <hr class="wrapper" />

    <div class="wrapper my-6 py-6">
        <div class="d-md-flex flex-items-center">
            <div class="col-md-6 col-lg-5 pr-md-4 pr-lg-6 mb-4 mb-md-0">
                <h2 class="h2">Foundations &amp; Initiatives</h2>
                <p>Microsoft is proud to participate, partner, and sponsor
                    many amazing initiatives to better the open source ecosystem.</p>
            </div>
            <div class="col-md-6 pl-md-4 col-lg-4">
                <img class="mb-4" src="{{ '/assets/images/direction/community-shapes.svg' | relative_url }}" alt="" />
            </div>
        </div>
    </div>

    <!--
    <hr class="wrapper" />
    -->

    <div class="wrapper py-6 my-6">

        <div class="d-sm-flex flex-wrap foundation-list">
            {% for post in site.community %}
            {% assign img = nil %}
            {% if post.externalLogo %}
            {% assign img = post.externalLogo %}
            {% elsif post.logo %}
            {% capture img %}/assets/images/projects/{{ post.logo }}{% endcapture %}
            {% endif %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pr-sm-3 pr-lg-4 mb-6 pb-4" data-animate-in="fade"
                data-animate-in-delay="200">
                {% if post.projectUrl %}
                <a href="{{ post.projectUrl }}" target="_new">
                    {% if img %}
                    <figure>
                        <img class="mb-4 icon" src="{{ img | relative_url }}" alt="{{ post.title }} logo" />
                    </figure>
                    {% else %}
                    <span class="icon mb-4"><h3 class="h6 pt-3 text-brand">{{ post.title }}</h3></span>

                    {% endif %}
                </a>
                {% else %}
                {% if img %}
                <figure>
                    <img class="mb-4 icon" src="{{ img | relative_url }}" alt="{{ post.title }} logo" />
                </figure>
                {% else %}
                <span class="icon mb-4"><h3 class="h6 pt-3 text-brand">{{ post.title }}</h3></span>

                <h3 class="h6 mb-3 text-brand">{{ post.title }}</h3>
                {% endif %}
                {% endif %}
                <p>{{ post.description }}</p>
                {% if post.projectUrl %}
                    <!-- without descriptive text, no link -->    
                    {% if post.linkText %}
                        <a class="link-arrow-external mt-3" href="{{ post.projectUrl }}">
                            {{ post.linkText }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>



    <!--
    <div class="wrapper py-6 my-6">

        <div class="d-sm-flex flex-wrap">

            {% for conferences in site.data.community %}
            {% for conference in conferences.conferences %}

            {% if conference.externalLogo %}
            {% assign img = conference.externalLogo %}
            {% else %}
            {% capture img %}/assets/images/projects/{{ conference.logo }}{% endcapture %}
            {% endif %}

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pr-sm-3 pr-lg-4 mb-6" data-animate-in="fade"
                data-animate-in-delay="200">
                <img class="mb-4 icon" src="{{ img | relative_url }}" alt="{{ conference.title }} logo" />
                {% if conference.url %}
                <a href="{{ conference.url }}">
                    {% endif %}
                    <h3 class="h6 text-brand">{{ conference.title }}</h3>
                    {% if conference.url %}
                </a>
                {% endif %}
                <p class="p-sm my-2 text-light">{{ conference.date }}</p>
                <p class="mt-0">{{ conference.description }}</p>

                {% if conference.url %}
                <a class="link-arrow-external mt-3" href="{{ conference.url }}">Learn more</a>
                {% endif %}
            </div>
            {% endfor %}
            {% endfor %}

        </div>

    </div>

    -->




    <div class="wrapper-full bg-brand-dark text-white">
        <div class="wrapper py-6 my-6">
            <h3 class="h3">Community Resources</h3>
            <div class="d-md-flex">
                <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                    <p>Microsoft open source projects adopt a consistent community Code of Conduct. All
                        Microsoft projects require contributors to sign the individual Contributor License Agreement
                        (CLA)
                        one time.</p>
                </div>
                <div class="col-md-6 pl-md-4 pl-lg-6">
                    {% for resources in site.data.community %}
                    {% for resource in resources.resources %}
                    <div>
                        <a class="link-arrow-external mb-2" href="{{ resource.url }}">{{ resource.title }}</a>
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</article>


<script>
    {% include upstream-contributions.js %}
</script>
