---
layout: default
id: home
title: Home
description: "Microsoft Open Source: get involved in open source communities, discover projects and ecosystems Microsoft is involved in, and learn about the Microsoft open source program"
---

<article>
    <div class="wrapper-full bg-dark">
        <div class="wrapper py-6 my-6">
            <div class="d-md-flex flex-justify-between">
                <div class="col-12 col-md-7 col-lg-7 mb-6 mb-md-0">
                    <h1 class="h1-xl mb-6" x-data-animate-in="fade" x-data-animate-in-delay="100">
                        Open.<br />
                        Collaborative.<br />
                        Flexible.
                    </h1>
                    <p class="p-lg text-white col-md-11 col-lg-9" x-data-animate-in="fade" x-data-animate-in-delay="220">
                        Open Source enables Microsoft products and services to 
                        bring choice, technology and community to our customers.
                    </p>
                    <div data-animate-in="fade" data-animate-in-delay="240">
                        <a class="link-arrow text-white mt-4" href="{{ '/collaborate' | relative_url }}">Get involved</a>
                        <br />
                        <a class="link-arrow text-white mt-4" href="{{ '/projects' | relative_url }}">Explore projects</a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 pl-md-4 pl-lg-2" style="position: relative" id="hero-figure">
                    <figure class="intro-svg" id="draw-svg" data-detect-viewport>
                        {% include open-source-svg.html %}
                    </figure>
                    <div id="hero-avatars" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0"></div>
                    <div id="hero-accessibility-controls" style="position: absolute; right: 0; bottom: 0;" data-require-javascript="yes" data-javascript-show="immediate">
                        <div style="position: relative; margin-bottom: -30px;" >
                            <a  class="refresh"
                                style="color: #fff"
                                id="toggle-graphics"
                                href="#"
                                title="Pause animation">
                                <span class="sr-only" id="toggle-text2">Pause animations and stop showing new graphics</span>
                                <span id="toggle-text" aria-hidden="true">Pause</span>
                                <span id="pause-icon">{% octicon square-fill %}</span><span 
                                id="resume-icon">{% octicon triangle-right %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper pt-6 pb-4 mt-6 mb-4">
        <div class="text-center mb-6" data-animate-in="up" data-animate-in-delay="200">
            <h2 class="h3">Projects</h2>
            <p>
                Some of the most popular developer tools, frameworks, and experiences in the world
                are built around open communities. Here are a few featured Microsoft projects of note.
            </p>
        </div>

        <div class="tile-list" data-animate-in="up" data-animate-in-delay="400">
            {% assign featured_projects_count = 0 %}
            {% for project in site.projects %}
                {% if project.featured and featured_projects_count < 3 %}
                    {% assign featured_projects_count = featured_projects_count | plus: 1 %}
                    <a class="tile" href="{{ project.projectUrl }}" target="_blank" rel= "noopener">
                        <div>
                            {% assign img = project.externalLogo | default: '/assets/images/projects/' | append: project.logo %}
                            <img class="mb-4" src="{{ img | relative_url }}" alt="" />
                            <h3 class="h4 text-brand font-weight-600 mb-3">{{ project.title }}</h3>
                            <p>{{ project.description }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="text-center mt-6 pb-6">
            <a class="link-arrow text-brand" href="/projects">Explore Microsoft projects</a>
        </div>
    </div>
    
    <!--
    Rest of your code here...
    -->
</article>

<script>
    {% include homepage.js %}
</script>
