---
layout: default
id: best-practices
permalink: /learn/best-practices/
---


<article>
    <div class="page-header">
        <div class="wrapper">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h1 class="h5 text-white">Microsoft Open Source</h1>
                <h2 class="h2">Programs Office</h2>
            </div>
        </div>
    </div>

    <div class="wrapper-full bg-light">
        <div class="wrapper my-6 py-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h3 class="h4 font-weight-400 mb-4">Microsoft is committed to helping improve open source community interactions by sharing tools, services, and guidance.</h3>
                <p class="p-lg font-weight-400">Here you will find information to help you establish and run your own open source programs office. This is an evolving set of resources inspired by our experiences building Microsoft's open source programs office, folks like you, and our peers in the <a href="https://todogroup.org/" target="_blank">TODO Group</a>.</p>
            </div>
        </div>
    </div>

    <nav class="wrapper my-6 py-4">
        <div class="col-md-10 col-lg-7 mx-auto">
            <ul class="internal-nav">
                <li{% if page.id == 'learn' %} class="is-active"{% endif %}>
                    <a href="{{ "/learn/" | relative_url }}">Tools & Services</a>
                </li>
                <li{% if page.id == 'governance' %} class="is-active"{% endif %}>
                    <a href="{{ "/learn/governance/" | relative_url }}">Governance</a>
                </li>
                <li{% if page.id == 'best-practices' %} class="is-active"{% endif %}>
                    <a href="{{ "/learn/best-practices/" | relative_url }}">Best Practices</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="wrapper mb-6 pb-4">
        <div class="col-md-10 col-lg-7 mx-auto">

            <div class="pb-6">
                <h3 class="h3 mb-4">Open source community resources</h3>
                <p>This information is being actively developed.</p>

                <div class="mt-5">
                    <h4 class="h4">Linux Foundation</h4>
                    <p>Professional open source management fundamentals, inclusive speaker training, compliance basics for developers, and other courses curated by the Linux Foundation.</p>

                    <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
                        <a class="link-arrow-external" href="{{ '/explore/' | relative_url }}">Explore the curriculum</a>
                    </div>
                </div>

                <div class="mt-6">
                    <h4 class="h4">TODO Group</h4>
                    <p>TODO is an open group of companies collaborating on practices, tools, and other ways to run successful and effective open source projects and programs.</p>

                    <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
                        <a class="link-arrow-external" href="">Learn more or join</a>
                    </div>
                </div>

                <div class="mt-6">
                    <h4 class="h4">Open Source Guides</h4>
                    <p>Collated on GitHub and initially built by GitHub, the Open Source Guides cover scenarios that any business or engineering group needs.</p>

                    <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
                        <a class="link-arrow-external" href="">View the guide</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


</article>
