---
layout: default
id: governance
permalink: /learn/governance/
---


<article>
    <div class="page-header">
        <div class="wrapper">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h1 class="h5 text-white">Microsoft Open Source</h1>
                <h2 class="h2">Programs Office</h2>
            </div>
        </div>
    </div>

    <div class="wrapper-full bg-light">
        <div class="wrapper my-6 py-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h3 class="h4 font-weight-400 mb-4">Microsoft is committed to helping improve open source community interactions by sharing tools, services, and guidance.</h3>
                <p class="p-lg font-weight-400">Here you will find information to help you establish and run your own open source programs office. This is an evolving set of resources inspired by our experiences building Microsoft's open source programs office, folks like you, and our peers in the <a href="https://todogroup.org/" target="_blank">TODO Group</a>.</p>
            </div>
        </div>
    </div>

    <nav class="wrapper my-6 py-4">
        <div class="col-md-10 col-lg-7 mx-auto">
            <ul class="internal-nav">
                <li{% if page.id == 'learn' %} class="is-active"{% endif %}>
                    <a href="{{ "/learn/" | relative_url }}">Tools & Services</a>
                </li>
                <li{% if page.id == 'governance' %} class="is-active"{% endif %}>
                    <a href="{{ "/learn/governance/" | relative_url }}">Governance</a>
                </li>
                <li{% if page.id == 'best-practices' %} class="is-active"{% endif %}>
                    <a href="{{ "/learn/best-practices/" | relative_url }}">Best Practices</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="wrapper mb-6 pb-4">
        <div class="col-md-10 col-lg-7 mx-auto">

            <div class="pb-6">
                <h3 class="h3 mb-4">Headline</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div>
                    <div class="accordion">
                        <div class="accordion__hd">
                            <h4 class="h4">Accordion title</h4>
                        </div>
                        <div class="accordion__bd">
                            <div>
                                text here
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>


</article>
