---
layout: default
id: learn
permalink: /learn/
---


<article>
    <div class="page-header">
        <div class="wrapper">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h1 class="h5 text-white">Learn</h1>
                <h2 class="h2">Corporate-scale open source</h2>
            </div>
        </div>
    </div>

    <div class="wrapper-full bg-light">
        <div class="wrapper my-6 py-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h3 class="h4 font-weight-400 mb-4">Microsoft is committed to helping improve open source community interactions by sharing tools, services, and guidance.</h3>
                <p class="p-lg font-weight-400">Here you will find information to help you establish and run your own open source programs office. This is an evolving set of resources inspired by our experiences building Microsoft's open source programs office, folks like you, and our peers in the <a href="https://todogroup.org/" target="_blank">TODO Group</a>.</p>
            </div>
        </div>
    </div>

    <div class="tabs">
        <nav class="wrapper my-6">
            <div class="col-md-10 col-lg-7 mx-auto">
                <ul class="tabs__tabs">
                    <li class="tabs__tab is-active" data-tab="tools-services">
                        <span>Tools & Services</span>
                    </li>
                    <!--
                    <li class="tabs__tab" data-tab="governance">
                        <span>Governance</span>
                    </li>
                    -->
                    <li class="tabs__tab" data-tab="best-practices">
                        <span>Best Practices</span>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="wrapper my-6 pt-lg-3 pb-4">
            <div class="col-md-10 col-lg-7 mx-auto">

                <div class="tabs__content is-active" data-tab="tools-services">
                    {% include learn.html %}
                </div>

                <!--
                <div class="tabs__content" data-tab="governance">
                    {% include learn-governance.html %}
                </div>
                -->

                <div class="tabs__content" data-tab="best-practices">
                    {% include learn-best-practices.html %}
                </div>




        </div>
    </div>


</article>
