---
layout: default
id: ospo
title: Microsoft's Open Source Program
permalink: /ospo/
---

<article>
    <div class="page-header">
        <div class="wrapper">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h1 class="h5 text-white">Microsoft's Open Source Program</h1>
                <h2 class="h2">Enterprise-scale open source</h2>
            </div>
        </div>
    </div>

    <div class="wrapper-full bg-light">
        <div class="wrapper my-6 py-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h3 class="h4 font-weight-400 mb-4">
                    Microsoft has a strong open source program that encourages contribution,
                    allows engineers to use open source, and easily release projects.
                </h3>
                <p class="p-lg font-weight-400">
                    We are committed to helping share what we have learned in adopting open source at
                    the Enterprise Scale by sharing tools, services, guidance, and our learnings.
                </p>
                <p class="p-lg font-weight-400">
                    The Microsoft open source program is a part of the One Engineering System (1ES) organization
                    at the company and is supported by the Open Source Standards and Legal Team, an Open Source
                    Executive Council, and Open Source Champs and others from around the world.
                </p>
                <p class="p-lg font-weight-400">
                    The open source program at Microsoft is <a href="https://cloudblogs.microsoft.com/opensource/2019/12/12/announcing-microsoft-openchain-conformance/" target="_new">OpenChain 2.0 conformant</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="tabs">
        <nav class="wrapper my-6">
            <div class="col-md-10 col-lg-7 mx-auto">
                <ul class="tabs__tabs">
                    <li class="tabs__tab is-active" data-tab="tools-services">
                        <span>Tools & Services</span>
                    </li>
                    <!--
                    <li class="tabs__tab" data-tab="governance">
                        <span>Governance</span>
                    </li>
                    -->
                    <li class="tabs__tab" data-tab="best-practices">
                        <span>Best Practices</span>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="wrapper my-6 pt-lg-3 pb-4">
            <div class="col-md-10 col-lg-7 mx-auto">

                <div class="tabs__content is-active" data-tab="tools-services">
                    {% include learn.html %}
                </div>

                <!--
                <div class="tabs__content" data-tab="governance">
                    {% include learn-governance.html %}
                </div>
                -->

                <div class="tabs__content" data-tab="best-practices">
                    {% include learn-best-practices.html %}
                </div>




        </div>
    </div>


</article>
