---
layout: default
id: program
title: Microsoft's Open Source Program
permalink: /program/
---

<article class="program-page">
    <div class="page-header">
        <div class="wrapper">
            <div class="col-md-10 col-lg-7 mx-auto">
                <!-- <h1 class="h5 text-white">Microsoft's Open Source Programs Office</h1> -->
                <h1 class="h2">Our program</h2>
            </div>
        </div>
    </div>

    <div class="wrapper-full bg-light">
        <div class="wrapper my-6 py-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h3 class="h4 font-weight-400 mb-4">
                    Microsoft has a strong open source program that encourages contribution, respects
                    license obligations, and allows engineers to use open source with ease, work in the open,
                    release projects, and be secure.
                </h3>
                <p>
                    Today, it’s not uncommon that we use over 150,000 open source components each month
                    while building products and services.
                </p>
                <p>
                    Relentless automation, engineering system innovation, and making it easy for our
                    developers to "fall into the pit of success" have been key to using open source
                    at enterprise-scale.
                </p>
                <p>
                    Here are just a few of the ways that we've built a strong open source program. 
                    We're sharing our process in hopes it helps others be more successful in open source too.
                </p>
            </div>
        </div>
    </div>

    <div class="tabs">
        <nav class="wrapper my-6" data-require-javascript="yes" data-javascript-show="immediate">
            <div class="col-md-10 col-lg-7 mx-auto">
                <ul class="tabs__tabs" role="tablist">
                    <li class="tabs__tab is-active" data-tab="program-overview">
                        <!-- <span aria-hidden="true">Overview</span> -->
                        <a class="tabs__link" href="#program-overview">Overview</a>
                    </li>
                    <li class="tabs__tab" data-tab="program-tools">
                        <!-- <span aria-hidden="true">Tools &amp; resources</span> -->
                        <a class="tabs__link" href="#program-tools">Tools &amp; resources</a>
                    </li>
                    <li class="tabs__tab" data-tab="program-using">
                        <!-- <span aria-hidden="true">Using open source</span> -->
                        <a class="tabs__link" href="#program-using">Using open source</a>
                    </li>
                    <li class="tabs__tab" data-tab="program-contributing">
                        <!-- <span aria-hidden="true">Contributing</span> -->
                        <a class="tabs__link" href="#program-contributing">Contributing</a>
                    </li>
                    <li class="tabs__tab" data-tab="program-releasing">
                        <!-- <span aria-hidden="true">Releasing projects</span> -->
                        <a class="tabs__link" href="#program-releasing">Releasing projects</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="wrapper my-6 pt-lg-3 pb-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <noscript><h2>Overview</h2></noscript>
                <div class="tabs__content is-active" data-tab="program-overview">
                    {% include program-overview.html %}
                </div>

                <div class="tabs__content" data-tab="program-tools">
                    <noscript><h2>Tools &amp; resources</h2></noscript>
                    {% include program-tools.html %}
                </div>

                <div class="tabs__content" data-tab="program-using">
                    <noscript><h2>Using open source</h2></noscript>
                    {% include program-using.html %}
                </div>

                <div class="tabs__content" data-tab="program-contributing">
                    <noscript><h2>Contributing</h2></noscript>
                    {% include program-contributing.html %}
                </div>

                <div class="tabs__content" data-tab="program-releasing">
                    <noscript><h2>Releasing projects</h2></noscript>
                    {% include program-releasing.html %}
                </div>

        </div>
    </div>


</article>
