---
layout: default
id: thanks
permalink: /thanks/
title: Thanks - Open Source used in this site
---

<article>
    <div class="page-header">
        <div class="wrapper">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h1 class="h5 text-white">Thank you.</h1>
            </div>
        </div>
    </div>

    <div class="wrapper-full bg-light">
        <div class="wrapper my-6 py-4">
            <div class="col-md-10 col-lg-7 mx-auto">
                <h3 class="h4 font-weight-400 mb-4">
                    Hundreds of thousands of open source projects are used across Microsoft's
                    products and services, many contributed to by Microsoft engineers and teams
                    along the way.
                </h3>
                <p>
                    Thousands of projects power this simple website alone. Thanks to all of
                    the participants of these communities for building great technology together.
                </p>
            </div>
        </div>
    </div>


    <div class="wrapper py-6 my-6">
        <div class="d-sm-flex flex-wrap" id="thanksSection">
            {% for featured in site.data.dependencies %}
            {% for project in featured.featured %}
            <div 
                class="col-12 col-sm-6 col-md-4 col-lg-3 pr-sm-3 pr-lg-4 mb-6">
                <h3 class="h3">{{ project.title }}</h3>
                {% if project.description %}
                <p>{{ project.description }}</p>
                {% endif %}
                {% if project.repo %}
                <p><a href="{{ project.repo }}" target="_blank" class="link-arrow-external mt-3">{{ project.repo }}</a></p>
                {% endif %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>


</article>
