
// ---------------------------------------------------------------------
//  Wrapper Styles (Horizontal Spacing)
// ---------------------------------------------------------------------

.wrapper {
    @include wrapper;
}

.wrapper-wide {
    @include wrapper;
    max-width: 1440px;
}

.wrapper-full {
    max-width: 100%;
    overflow-x: hidden;
}

// ----------------------------------------
// Extensions
// ----------------------------------------

.wrapper-thin {
    @include wrapper;
    max-width: 716px;
}
