
<article class="project">
    <!-- TODO: if a social media image is present, consider showing it full-width above the tile -->

    <!--
    <img src="{{ '/assets/images/projects/react.svg' | relative_url }}" alt="" />
    -->

    {% raw %}{{#if social }}{% endraw %}
    <figure class="project__social-image">
        <img src="{% raw %}{{ social }}{% endraw %}" alt="{% raw %}{{ name }}{% endraw %}" />
        {% raw %}{{/if}}{% endraw %}
    </figure>


    <div class="project__details">
        {% octicon repo %}

        <div class="project__overview">
            <a class="project__name"
               href="{% raw %}{{ html_url }}{% endraw %}"
               rel="noopener"
               target="_blank">{% raw %}{{ name }}{% endraw %}</a>
        </div>

        <p>{% raw %}{{ description }}{% endraw %}</p>

        <div class="project__meta">
            <div class="pr-4">
                <span class="sr-only">{% raw %}{{ stargazers_count }}{% endraw %} favorites</span>
                <span aria-hidden="true">{% octicon star %} <span class="format-number">{% raw %}{{ stargazers_count }}{% endraw %}</span></span>
            </div>
            <div class="pr-4">
                <span class="sr-only">{% raw %}{{ forks_count }}{% endraw %} forks</span>
                <span aria-hidden="true">{% octicon repo-forked %} <span class="format-number">{% raw %}{{ forks_count }}{% endraw %}</span></span>
            </div>
            <div class="project__tags">
                <span aria-hidden="true">{% raw %}{{ language }}{% endraw %}</span>
                <span class="sr-only">{% raw %}{{ language }}{% endraw %} project language</span>
            </div>
        </div>
    </div>

    <div class="project__urls">
        <a class="project__repo_url" href="{% raw %}{{ html_url }}{% endraw %}" rel= "noopener" target="_blank">
            <span>{% raw %}{{ name }}{% endraw %} repository</span>
            <span class="ms-icon ms-icon--Forward"></span>
        </a>

        {% raw %}{{#if homepage }}{% endraw %}
        <a class="project__url" href="{% raw %}{{ homepage }}{% endraw %}" rel= "noopener" target="_blank">
            <span>{% raw %}{{ homepage }}{% endraw %}</span>
            <span class="ms-icon ms-icon--Forward"></span>
        </a>
        {% raw %}{{/if}}{% endraw %}
    </div>


</article>
