                <article
                    class="activity"
                    id="activity{% raw %}{{ id }}{% endraw %}"
                    data-animate-in="fade" data-animate-in-delay="0">
                    <p>
                        <a href="https://github.com/{% raw %}{{ activity.actorLogin }}{% endraw %}" target="_new">
                            <img
                                src="{% raw %}{{ activity.actorAvatar }}{% endraw %}"
                                style="height:24px;width:24px" />
                                {% raw %}{{ activity.actorLogin }}{% endraw %}
                        </a>
                        &nbsp;
                        <strong>{% raw %}{{ activity.type }}{% endraw %}</strong>
                        &nbsp;
                        <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">{% raw %}{{ activity.repoName }}{% endraw %}</a>
                        &nbsp;
                        <time class="timeago" datetime="{% raw %}{{ activity.created }}{% endraw %}">{% raw %}{{ activity.created }}{% endraw %}</time>
                    </p>
                </article>