{% comment %}
activity.actorLogin
activity.actorAvatar
activity.activityUrl
activity.repoName
description
activity.title
activity.orgName
octicon
activity.created
{% endcomment %}

    <article class="activity" style="display:none" id="activity{% raw %}{{ id }}{% endraw %}">
        <a class="activity__avatar" href="https://github.com/{% raw %}{{ activity.actorLogin }}{% endraw %}" target="_new">
            <img src="{% raw %}{{ activity.actorAvatar }}{% endraw %}" alt="Avatar image of GitHub login {% raw %}{{ activity.actorAvatar }}{% endraw %}" />
                {% raw %}{{ activity.actorLogin }}{% endraw %}
        </a>
        <div class="activity__body">
            <div class="activity__body-hd">
                <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">
                    {% raw %}{{ activity.actorLogin }}{% endraw %}
                    
                </a>
                <p class="activity__activity">
                <span>{% raw %}{{{ octicon }}} {{ description }}{% endraw %}</span>
                <time class="timeago" datetime="{% raw %}{{ activity.created }}{% endraw %}">{% raw %}{{ activity.created }}{% endraw %}</time>
            </p>
            </div>

            <a class="activity__title" href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">
                {% raw %}{{ activity.title }}{% endraw %}
            </a>

            <div class="activity__footer">
                {% octicon repo %}
                <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">{% raw %}{{ activity.orgName }}/{{ activity.repoName }}{% endraw %}</a>
            </div>
        </div>
    </article>
