                <article class="activity" id="activity{% raw %}{{ id }}{% endraw %}">
                    <p>
                        <a href="https://github.com/{% raw %}{{ activity.login }}{% endraw %}" target="_new">
                            <img
                                src="{% raw %}{{ activity.actorAvatar }}{% endraw %}"
                                style="height:24px;width:24px" />
                                {% raw %}{{ activity.login }}{% endraw %}
                        </a>
                        &nbsp;
                        <strong>{% raw %}{{ activity.type }}{% endraw %}</strong></p>
                        &nbsp;
                        <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">{% raw %}{{ activity.repoName }}{% endraw %}</a>
                        &nbsp;
                        <time class="timeago" datetime="{% raw %}{{ activity.created }}{% endraw %}">{% raw %}{{ activity.created }}{% endraw %}</time>
                    </p>
                </article>