<div class="pb-6">
  <h4 class="h4">Frequently asked questions</h4>
  <p>
      Frequently asked questions about the Azure credits for open source projects program.
  </p>
  <ul class="ul mt-4">
      <li>
          <b>What is this program?</b>
          <br />
          Microsoft is offering grants of Azure credits to open source projects to help with their development, infrastructure, and testing needs. 
      </li>
      <li>
        <b>Why is Microsoft running this program?</b>
        <br />
        We are giving back to the open source ecosystem we participate in and depend on. 
      </li>
      <li>
        <b>What are the grants for and how long do they last?</b>
        <br />
        Each grant will be for one year. Applicants will need to re-apply each year if they would like credits again. 
      </li>
        <li>
        <b>What open source projects are eligible to apply?</b>
        <br />
        Any open source project with an <a href="https://opensource.org/licenses/category">OSI-approved license </a> and a formalized Code of Conduct is eligible 
          to apply.
      </li>
      <li>
        <b>How do I apply?</b><br />
            Fill out and submit the application form on the Apply tab. 
      </li>
      <li>
        <b>When will I be notified of the decision on my application?</b>
        <br />
        We review all applications and notify all applicants of our decisions within 3-4 weeks. 
      </li>
  </ul>

</div>
