<div class="pb-6">
  <p>
      Text
  </p>

  <h4 class="h4">Heading</h4>
  <p>
      Text
  </p>
  <p>
    Text
  </p>
  <ul class="ul mt-4">
      <li>
          <b>Some bolt text:</b>
          Info
      </li>
      <li>
        <b>Some bolt text:</b>
        Info
      </li>
  </ul>

  <h4 class="h4">More info</h4>
  <p>
      More text
  </p>

  <ul class="ul mt-4">
      <li>
          <b>Bold bullet:</b>
          Text

          <br />
          <br />
          Some other text with a link to 
          <a href="https://aka.ms/opensource" target="_new">aka.ms/opensource</a>.
      </li>
  </ul>

</div>
