<div class="pb-2">
  <h4 class="h4">Apply for the Azure credits for open source projects program</h4>
  <p>
   You can use this page to apply for the Azure credits for open source projects program.
  </p>
     
</div>

<p>
      Applications to the program will be reviewed and you will receive a notification of the decision within 3-4 weeks. 
  </p>
  <div class="ul mt-4">
    <iframe title="Azure Credits Application" width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR90vS-jx9TxHvDhlVnIdXodUQUZMWE1BNVZXVTgxWEVGMk8zNEtNWDZKQSQlQCN0PWcu&embed=true" 
    frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen 
    mozallowfullscreen msallowfullscreen> </iframe>
</div>

</div>
