


<div class="wrapper-full bg-dark">
    <div class="py-6 my-6">
        <div class="wrapper ">
            <div class="d-md-flex flex-justify-between">
                <div class="col-12 col-md-7 col-lg-7 mb-6 mb-md-0">
                    <div class="text-white" data-animate-in="fade">
                        <ul class="list-style-none">
                            <li>
                                <a class="mt-4 link-arrow-external" href="https://twitter.com/OpenAtMicrosoft" target="_blank" rel= "noopener">
                                    <img class="mr-2" src="{{ '/assets/images/svgs/twitter.svg' | relative_url }}" alt="Twitter icon" title="Twitter icon" />
                                    OpenAtMicrosoft
                                </a>
                            </li>
                            <li>
                                <a class="mt-4 link-arrow-external" href="https://github.com/microsoft/opensource.microsoft.com" target="_blank" rel= "noopener">
                                    <img class="mr-2" src="{{ '/assets/images/svgs/github.svg' | relative_url }}" alt="GitHub icon" title="GitHub icon" />
                                    microsoft/opensource.microsoft.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 pl-md-4 pl-lg-2">
                    <figure class="intro-svg">
                        {% include open-source-svg-ft.html %}
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer" role="contentinfo">
    <div class="wrapper d-lg-flex flex-justify-between flex-items-center">
        <div class="site-footer__brand">
            <img src="{{ '/assets/images/Microsoft-icon-white.svg' | relative_url }}" alt="Microsoft icon" />
            <p>Powered by <a href="{{ '/thanks/' | relative_url }}">Open Source</a> and Microsoft Azure</p>
        </div>

        <ul>
            <li>
                <a href="https://aka.ms/opensource" onclick="return confirm('Are you sure you want to continue to https://aka.ms/opensource? This resource is restricted to Microsoft employees to share guidance and documentation about open source at Microsoft.\n\nIf you continue, you will be redirected to authenticate with Azure Active Directory, and the error messages may be confusing if you are not able to sign-in.')">Employee sign-in</a>
            </li>
            <li>
                <a href="https://careers.microsoft.com/us/en/search-results?keywords=open%20source" target="_new">Jobs</a>
            </li>
            <li>
                <a href="https://cloudblogs.microsoft.com/opensource" target="_new">Blog</a>
            </li>
            <li>
                <a href="{{ '/codeofconduct/' | relative_url }}">Code of Conduct</a>
            </li>
            <li>
                <a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">Privacy & Cookies</a>
            </li>
            <li id="manageCookies" data-require-javascript="yes" data-javascript-show="immediate">
                <a href="#" onclick="manageCookies()" >Manage Cookies</a>
            </li>
            <li>
                <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx" target="_blank">Terms</a>
            </li>
            <li>
                <a href="https://www.microsoft.com/trademarks" target="_blank">Trademarks</a>
            </li>
            <li>
                <p>© <span id="year">2020</span> Microsoft</p>
            </li>
        </ul>
    </div>
    <script>
        var date = new Date().getFullYear(),
            year = document.getElementById('year');
            if(year) {
                document.getElementById('year').innerHTML = date;
            }
    </script>
</footer>
