


<div class="wrapper-full bg-dark">
    <div class="py-6 my-6">
        <div class="wrapper ">
            <div class="d-md-flex flex-justify-between">
                <div class="col-12 col-md-7 col-lg-7 mb-6 mb-md-0">
                    <!--
                    <h1 class="h1 mb-3 mb-md-4" data-animate-in="fade" data-animate-in-delay="200">Let’s innovate, build and&nbsp;collaborate.</h1>
                    -->
                    <div class="text-white" data-animate-in="fade">
                        <a class="link-arrow mt-4" href="{{ '/collaborate/' | relative_url }}">Get involved</a>
                        <br />
                        <a class="link-arrow mt-4" href="{{ '/projects/' | relative_url }}">Explore projects</a>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 pl-md-4 pl-lg-2">
                    <figure class="intro-svg">
                        {% include open-source-svg-ft.html %}
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer" role="contentinfo">
    <div class="wrapper d-lg-flex flex-justify-between flex-items-center">
        <div class="site-footer__brand">
            <img src="{{ '/assets/images/Microsoft-icon-white.svg' | relative_url }}" alt="Microsoft icon" />
            <p>Powered by <a href="{{ '/thanks/' | relative_url }}">Open Source</a> and Microsoft Azure</p>
        </div>

        <!-- TODO: use octicon for the GitHub mark to link to the repo -->

        <ul>
            <li>
                <a href="{{ '/code-of-conduct/' | relative_url }}">Code of Conduct</a>
            </li>
            <li>
                <a href="{{ '/thanks/' | relative_url }}" target="_blank">Thanks</a>
            </li>
            <li>
                <a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">Privacy & Cookies</a>
            </li>
            <li>
                <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx" target="_blank">Terms</a>
            </li>
            <li>
                <a href="https://www.microsoft.com/trademarks" target="_blank">Trademarks</a>
            </li>
            <li>
                <p>© <span id="year">2020</span> Microsoft</p>
            </li>
        </ul>
    </div>
    <script>
        var date = new Date().getFullYear(),
            year = document.getElementById('year');
            if(year) {
                document.getElementById('year').innerHTML = date;
            }
    </script>
</footer>
