<article
class="goodfirstissue"
id="goodfirstissue{% raw %}{{ id }}{% endraw %}">
<p>
    <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">{% raw %}{{ activity.orgName }}/{{ activity.repoName }}{% endraw %}</a>
    &nbsp;
    <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">
        {% raw %}{{ activity.title }}{% endraw %}
    </a>
    {% raw %}{{{ octicon }}}{% endraw %}
    &nbsp;
    labeled
    <time class="timeago" datetime="{% raw %}{{ activity.created }}{% endraw %}">{% raw %}{{ activity.created }}{% endraw %}</time>
</p>
</article>