
<article class="activity good-first-issue" id="goodfirstissue{% raw %}{{ id }}{% endraw %}">
    <div class="activity__body">
        <div class="activity__body-hd">
            <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">
                {% octicon repo %}
                {% raw %}{{ activity.orgName }}/{{ activity.repoName }}{% endraw %}
            </a>
            <p class="activity__activity">
            <span>{% raw %}{{ description }}{% endraw %}</span>
            <time class="timeago" datetime="{% raw %}{{ activity.created }}{% endraw %}">{% raw %}{{ activity.created }}{% endraw %}</time>
            </p>
        </div>

        <a class="activity__title" href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">
            {% raw %}{{ activity.title }}{% endraw %}
        </a>

        {% raw %}{{#if activity.labels }}{% endraw %}
        <div>
            {% raw %}{{#each activity.labels }}{% endraw %}
            <span class="IssueLabel" style="background-color:#{% raw %}{{{this.color}}}{% endraw %};color:#{% raw %}{{{this.foreground}}}{% endraw %}">
            {% raw %}{{this.name}}{% endraw %}
            </span>
            {% raw %}{{/each}}{% endraw %}
        </div>
        {% raw %}{{/if}}{% endraw %}
        <!--
        <div class="activity__footer">
            {% octicon repo %}
            <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">{% raw %}{{ activity.orgName }}/{{ activity.repoName }}{% endraw %}</a>
        </div>
        -->
    </div>
</article>
