<header id="site-header" role="banner">
    <div class="site-header__inner">
        <div class="site-logo">
            <a href="{{ '/' | relative_url }}" tabindex="2">
                <img src="https://opensource.azureedge.net/assets/images/Microsoft-Open-Source-logo.svg"
                    alt="Microsoft | Open Source logo" />
                <span class="sr-only">Return to homepage</span>
            </a>
        </div>

        <ul class="site-header__nav">
            <li{% if page.id == 'collaborate' %} class="is-active" aria-current="page" {% endif %}>
                <a href="{{ "/collaborate/" | relative_url }}">Get involved</a>
            </li>
            <li{% if page.id == 'projects' %} class="is-active" aria-current="page" {% endif %}>
                <a href="{{ "/projects/" | relative_url }}">Projects</a>
            </li>
            <li{% if page.id == 'ecosystem' %} class="is-active" aria-current="page" {% endif %}>
                <a href="{{ "/ecosystem/" | relative_url }}">Ecosystem</a>
            </li>
            <li{% if page.id == 'program' or page.id == 'governance' or page.id == 'best-practices' %}
                class="is-active" aria-current="page" {% endif %}>
                <a href="{{ "/program/" | relative_url }}">Our program</a>
            </li>
            <li>
                <a class="external"
                    target="_new"
                    href="https://careers.microsoft.com/us/en/search-results?keywords=open%20source">
                    <span>Jobs</span>
                </a>
            </li>
            <li>
                <a class="external"
                    target="_new"
                    href="https://cloudblogs.microsoft.com/opensource/">
                    <span>Blog</span>
                </a>
            </li>
        </ul>

        <div class="site-header__utilities">
            <div class="site-header__search">
                <form class="search-form" role="search" action="/projects/explore" method="GET">
                    <label for="header-search">
                        <span class="sr-only">Search projects</span>
                        {% octicon search %}
                    </label>
                    <input type="text" id="header-search" name="q" placeholder="Search" />
                </form>
                <div class="search-trigger">
                    {% octicon search %}
                </div>
            </div>
            <div class="nav-trigger js-menu-trigger">
                <img class="open-menu" src="{{ '/assets/images/svgs/menu.svg' | relative_url }}" alt="menu icon" />
                <img class="close-menu" src="{{ '/assets/images/svgs/close.svg' | relative_url }}" alt="close icon" />
            </div>
            <!--
            <a class="sign-in" href="https://www.microsoft.com/mscomhp/onerf/signin?EEL=True&pcexp=True&ru=https%3A%2F%2Fwww.microsoft.com%2Fen-us">
                <span>Sign In</span>
                <span class="account-img"></span>
            </a>
            -->
        </div>

    </div>
</header>



<nav id="navigation">
    <div class="site-navigation">
        <div>
            <ul class="main-nav">
                <li>
                    <form class="search-form" role="search" action="/projects/explore" method="GET">
                        <label>
                            <span class="sr-only">Search projects</span>
                            {% octicon search %}
                        </label>
                        <input id="search" type="text" name="q" placeholder="Search" />
                    </form>
                </li>
                <li>
                    <a class="is-active" href="{{ "/" | relative_url }}">Home</a>
                </li>
                <li{% if page.id == 'collaborate' %} class="is-active" {% endif %}>
                    <a href="{{ "/collaborate/" | relative_url }}">Get involved</a>
                </li>
                <li{% if page.id == 'projects' %} class="is-active" {% endif %}>
                    <a href="{{ "/projects/" | relative_url }}">Projects</a>
                </li>
                <li{% if page.id == 'ecosystem' %} class="is-active" {% endif %}>
                    <a href="{{ "/ecosystem/" | relative_url }}">Ecosystem</a>
                </li>
                <li{% if page.id == 'program' or page.id == 'governance' or page.id == 'best-practices' %}
                    class="is-active" {% endif %}>
                    <a href="{{ "/program/" | relative_url }}">Our program</a>
                </li>
                <!--
                <li>
                    <a class="external"
                        target="_new"
                        href="https://careers.microsoft.com/us/en/search-results?keywords=open%20source">
                        <span>Jobs</span>
                    </a>
                </li>
                <li>
                    <a class="external" href="https://cloudblogs.microsoft.com/opensource/" target="_new">
                        <span>Blog</span>
                    </a>
                </li>
                -->
                <!--
                <li>
                    <a class="sign-in"
                        href="https://www.microsoft.com/mscomhp/onerf/signin?EEL=True&pcexp=True&ru=https%3A%2F%2Fwww.microsoft.com%2Fen-us">
                        <span>Sign In</span>
                        <span class="account-img"></span>
                    </a>
                </li>
                -->
            </ul>
        </div>
    </div>


    <span class="navigation-screen js-menu-trigger"></span>
</nav>

<div class="search-form-mobile">
    <form class="search-form" role="search" action="/projects/explore" method="GET">
        <label>
            <span class="sr-only">Search projects</span>
            {% octicon search %}
        </label>
        <input id="mobile-search" type="text" name="q" placeholder="Search" />
    </form>
</div>
