

<div class="wrapper-full bg-dark">
    <div class="wrapper py-6 my-6">
        <div class="d-md-flex flex-justify-between">
            <div class="col-12 col-md-7 col-lg-7 mb-6 mb-md-0">
                <h1 class="h1-xl mb-6" data-animate-in="fade" data-animate-in-delay="200">Microsoft<br />Open Source</h1>
                <p class="p-lg text-white col-md-11 col-lg-9" data-animate-in="fade" data-animate-in-delay="220">We innovate, contribute to, and enable open source. From beginner to expert, Microsoft meets you where you are. Explore projects, contribute to them and more good stuff.</p>

                <div data-animate-in="fade" data-animate-in-delay="240">
                    <a class="link-arrow text-white mt-4" href="{{ '/explore/' | relative_url }}">Start Exploring Projects</a>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 pl-md-4 pl-lg-2">
                <figure class="intro-svg">
                    {% include open-source-svg.html %}
                </figure>
            </div>
        </div>
    </div>
</div>


<div class="wrapper py-6 my-6">
    <div class="py-6 my-6">
        <div class="d-md-flex text-center">
            <div class="col-12 col-md-4 pr-md-3 mb-6 mb-md-0">
                <img class="mb-4" src="{{ '/assets/images/svgs/innovate.svg' | relative_url }}" alt="" />
                <h3 class="h3">Innovate</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-12 col-md-4 px-md-2 mb-6 mb-md-0">
                <img class="mb-4" src="{{ '/assets/images/svgs/build.svg' | relative_url }}" alt="" />
                <h3 class="h3">Build</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-12 col-md-4 pl-md-3">
                <img class="mb-4" src="{{ '/assets/images/svgs/collaborate.svg' | relative_url }}" alt="" />
                <h3 class="h3">Collaborate</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="text-center mt-6">
            <a class="link-arrow-external" href="{{ '/explore/' | relative_url }}">Start Exploring Projects</a>
        </div>
    </div>
</div>


<div class="split-content text-white">
    <div class="split-content__content split-content__content--left">
        <div>
            <h2 class="mb-4">
                <span class="h5">Microsoft Open Source</span>
                <span class="h2">For Developers</span>
            </h2>
            <p class="p-lg font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <div class="mt-6">
                <a class="link-arrow" href="{{ '/explore/' | relative_url }}">Developers take action</a>
            </div>
        </div>

        <img src="{{ '/assets/images/direction/stripes-corner.svg' | relative_url }}" alt="" />
    </div>

    <div class="split-content__content split-content__content--right">
        <div>
            <h2 class="mb-4">
                <span class="h5">Microsoft Open Source</span>
                <span class="h2">For System & Data Admins</span>
            </h2>
            <p class="p-lg font-weight-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <div class="mt-6">
                <a class="link-arrow" href="{{ '/explore/' | relative_url }}">System & Data Admins CTA</a>
            </div>
        </div>
        <img src="{{ '/assets/images/direction/dots-corner.svg' | relative_url }}" alt="" />
    </div>
</div>
