<script id="octicon-star" type="text/x-octicon">{% octicon star %}</script>
<script id="octicon-repo-forked" type="text/x-octicon">{% octicon repo-forked %}</script>
<script id="octicon-issue-opened" type="text/x-octicon">{% octicon issue-opened %}</script>
<script id="octicon-pin" type="text/x-octicon">{% octicon pin %}</script>
<script id="octicon-plus" type="text/x-octicon">{% octicon plus %}</script>
<script id="octicon-pulse" type="text/x-octicon">{% octicon pulse %}</script>
<script id="octicon-comment-discussion" type="text/x-octicon">{% octicon comment-discussion %}</script>
<script id="octicon-comment" type="text/x-octicon">{% octicon comment %}</script>
<script id="octicon-git-commit" type="text/x-octicon">{% octicon git-commit %}</script>
<script id="octicon-diff" type="text/x-octicon">{% octicon diff %}</script>
<script id="octicon-file-binary" type="text/x-octicon">{% octicon file-binary %}</script>
<script id="octicon-git-merge" type="text/x-octicon">{% octicon git-merge %}</script>
<script id="octicon-git-pull-request" type="text/x-octicon">{% octicon git-pull-request %}</script>
<script id="octicon-issue-reopened" type="text/x-octicon">{% octicon issue-reopened %}</script>
