<script type="text/javascript">
    function enableAppInsights() {
        var appInsights=window.appInsights||function(config){function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t}({instrumentationKey:"dd07f269-f88e-440d-b594-2e66a5ed67b7"/*the telemetry instrumentation key is NOT a secret FYI */});window.appInsights=appInsights;appInsights.trackPageView();
    }
    </script>
    <script src="https://az725175.vo.msecnd.net/scripts/jsll-4.js"></script>
    <script>
    var siteConsent = null;
    function enableAnalytics() {
        var config = {
            coreData: {
                appId: 'opensource.microsoft.com'
            }
        };
        awa.init(config);
    }
    function addTelemetry() {
        enableAppInsights();
        enableAnalytics();
    }
    function onConsentChanged(categoryPreferences) {
        evaluateUserConsent();
        evaluateShowManagement();
    }
    function evaluateShowManagement() {
        document.getElementById('manageCookies').style.display = siteConsent.isConsentRequired ? 'inline-block' : 'none';
    }
    function evaluateUserConsent() {
        if (siteConsent && siteConsent.getConsentFor(WcpConsent.consentCategories.Analytics)) {
            addTelemetry();
        }
    }
    WcpConsent.init('en-US', 'cookiebanner', function (err, _siteConsent) {
        if (err != undefined) {
            return error;
        } else {
            siteConsent = _siteConsent;
        }
        evaluateShowManagement();
    }, onConsentChanged);
    function manageCookies() {
        if(siteConsent.isConsentRequired){
            siteConsent.manageConsent();
        }
        return false;
    }
</script>
