<div class="pb-6">

    <h3 class="h4 mb-4">Microsoft is OpenChain 2.0 certified</h3>

    <div>
        <div class="accordion">
            <div class="accordion__hd">
                <h4 class="h4">User Managment</h4>
            </div>
            <div class="accordion__bd">
                <div>
                    <p>When interfacing with third-party services such as GitHub, it is important to be able to identify employees at the same company working together on open source.</p>

                    <p>While GitHub allows organization members to publicize their organization membership on their individual profile, there is more to know. GitHub user management solutions will offer the following capabilities:</p>

                    <ul class="ul mt-4">
                        <li><b>Employment lifecycle automation:</b> Employees should be able to join a company organization, if authorized, without needing a manual invitation. When an employee decides to leave the company, their access to company resources and GitHub organization membership should be removed.</li>
                        <li><b>User linking:</b> Authenticating an employee with IT and also GitHub to associate the GitHub account</li>
                        <li><b>Communications:</b> By linking an employee's corporate identity with their GitHub account, comms are possible without having to ask the user to share their email address or other information on their public profile.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__hd">
                <h4 class="h4">Self-service onboarding & management</h4>
            </div>
            <div class="accordion__bd">
                <div>
                    Copy here
                </div>
            </div>
        </div>

    </div>
</div>


<div class="pb-6">
    <h3 class="h3 mb-4">Open source obligations, package publishing and more</h3>
    <p>There are a large number of services and needs for a large corporate open source programs office to help engineers to be efficient as they explore the value of open source.</p>

    <div>
        <div class="accordion">
            <div class="accordion__hd">
                <h4 class="h4">Source code disclosure</h4>
            </div>
            <div class="accordion__bd">
                <div>
                    copy here
                </div>
            </div>
        </div>


        <div class="accordion">
            <div class="accordion__hd">
                <h4 class="h4">Package management & publishing</h4>
            </div>
            <div class="accordion__bd">
                <div>
                    Copy here
                </div>
            </div>
        </div>

    </div>
</div>
