<div class="pb-6">
    <p>
        At Microsoft, we make it easy for engineers to easily use open source 
        software, while respecting the rights of open source licenses and contributors,
        and building secure solutions.
    </p>

    <div class="mt-6">
        <h4 class="h4">Expert support &amp; resources</h4>
        <p>
            A coalition of teams, experts, and friendly resources are available
            to make sure that everyone at Microsoft understands how to use open source.
        </p>

        <ul class="ul mt-4">
            <li>
                <b>Easy, crisp guidance for engineers:</b>
                Comprehensive reference material for everyone at Microsoft to refer to
                helps to share knowledge and reduce confusion. Checklists, policies and
                advanced guides have been prepared by Subject Matter Experts, open source attorneys, and 
                curated by engineers, to make learning about using open source easy and efficient.

                <br />
                <br />
                If you work at Microsoft, you can authenticate and find these resources at
                <a href="https://aka.ms/opensource" target="_new">aka.ms/opensource</a>.
            </li>
            <li>
                <b>Open Source Standards and Legal Team:</b>
                Expert attorneys and program managers with decades of open source experience
                from across the industry make up the legal team that crafts policies, guidance,
                and inform their clients regarding all their licensing and open community needs. 
                Every employee at Microsoft has access to an open source attorney dedicated to their
                organization and familiar with their business goals and unique needs.
            </li>
            <li>
                <b>Open Source Champs:</b>
                Internal e-mail discussion lists and Microsoft Teams channels make it
                easy and straightforward to connect with open source maintainers and
                experts to get answers.
                
                <br/>
                <br/>
                The Open Source Champs come from teams across Microsoft and are able to
                help advise their team and help share knowledge. 
            </li>
            <li>
                <b>Business and Legal review process:</b>
                The use of some open source components at the company, depending on use case, license,
                or other conditions, may automatically trigger a straightforward business and legal
                review process.

                <br/>
                <br/>
                An open source "use review" takes the form of a standard engineering work
                item and presents reviewers with a contextual look at the business goals, specific
                use scenario, and other aspects, to help make the right decisions for some
                types of use.
            </li>
            <li>
                <b>Open Source Executive Council:</b>
                Essentially the board of directors for the open source program, the
                executive council consists of leaders from across Microsoft. The council
                helps to guide the program, highlight opportunities, and provide a 
                central place for decisions regarding open source.
            </li>
        </ul>


    </div>
</div>

