<div class="pb-6">
  <h3 class="h3 mb-4">Tools &amp; Services</h3>
  <p>
      Microsoft uses many tools and services in supporting its open source program. Here are
      just a few that you may find useful.
  </p>

  <div class="mt-5">
      <h4 class="h4">GitHub API</h4>
      <p>The GitHub API provides operational insight into release activities, contributions that engineers make, and the volume of activity that projects are experiencing on GitHub.</p>
      <!--
      <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
          <a class="link-arrow-external" href="{{ '/explore/' | relative_url }}">Explore the curriculum</a>
      </div>
      -->
  </div>

  <!--
  <div class="mt-6">
      <h4 class="h4">tbd</h4>
      <p>tbd</p>

      <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
          <a class="link-arrow-external" href="">View the guide</a>
      </div>
  </div>
  -->

  <div class="accordion">
    <div class="accordion__hd">
        <h4 class="h4">User Managment</h4>
    </div>
    <div class="accordion__bd">
        <div>
            <p>When interfacing with third-party services such as GitHub, it is important to be able to identify employees at the same company working together on open source.</p>

            <p>While GitHub allows organization members to publicize their organization membership on their individual profile, there is more to know. GitHub user management solutions will offer the following capabilities:</p>

            <ul class="ul mt-4">
                <li><b>Employment lifecycle automation:</b> Employees should be able to join a company organization, if authorized, without needing a manual invitation. When an employee decides to leave the company, their access to company resources and GitHub organization membership should be removed.</li>
                <li><b>User linking:</b> Authenticating an employee with IT and also GitHub to associate the GitHub account</li>
                <li><b>Communications:</b> By linking an employee's corporate identity with their GitHub account, comms are possible without having to ask the user to share their email address or other information on their public profile.</li>
            </ul>
        </div>
    </div>
</div>

</div>
