<div class="pb-6">
    <h3 class="h3 mb-4">Encouraging contributions</h3>
    <p>Microsoft has developed guidance, policies, and an approach that encourage contributing to open source.</p>

    <div class="mt-6">
        <h4 class="h4">FOSS Fund</h4>
        <p></p>

        <!--
        <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
            <a class="link-arrow-external" href="">View the guide</a>
        </div>
        -->
    </div>
    

    <div class="mt-5">
        <h4 class="h4">Small contribution policy</h4>
        <p></p>

        <!--
        <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
            <a class="link-arrow-external" href="{{ '/explore/' | relative_url }}">Explore the curriculum</a>
        </div>
        -->
    </div>

    <div class="mt-6">
        <h4 class="h4">Contribution reviews</h4>
        <p></p>
        <!--
        <div class="mt-3" data-animate-in="up" data-animate-in-delay="200">
            <a class="link-arrow-external" href="">Learn more or join</a>
        </div>
        -->
    </div>



</div>
