<div class="pb-6">
    <p>
        At Microsoft, we make it easy for engineers to easily use open source 
        software, while respecting the rights of open source licenses and contributors,
        and building secure solutions.
    </p>

    <div class="mt-6">
        <h4 class="h4">Open source use guidance</h4>
        <p><em>This is a summarized, distilled look at general open source contribution requirements 
            at Microsoft.</em></p>
        <p>
            Using open source in Microsoft is encouraged. Building on the efforts of 
            others allows us to create meaningful value for our customers faster and 
            engage with new ecosystems and user-bases in a natural way.
        </p>
        <p>
            Take the following steps to use an open source component at Microsoft:
        </p>

        <ul class="ul mt-4">
            <li>
                <b>Register All Open Source:</b>
                Following the open source compliance policy, all open source components must 
                be registered. You can do this two ways:

                <ul>
                    <li><b>One Engineering System automatically registers most types of open source.</b>
                    Open source detectors are run and will handle the registration of open source components. 
                    Legal and security alerts will be raised with follow-up actions if there is
                    additional work required, such as meeting legal obligations, posting to the third-party 
                    disclosures site, addressing a security issue, or if a commercial or unknown license is present.
                    </li>
                    <li><b>For repos using certain types of open source, a Manual Registration approach or 
                        file can be used in lieu of detectors.</b> Boutique engineering systems will need 
                        to refer to the non-standard build environments content.
                    </li>
                </ul>
            </li>
            <li>
                <b>Keep Open Source Separate:</b>
                Follow Microsoft's Intellectual Property Separation Policy to keep the open source 
                code separate from Microsoft code in your code tree.
            </li>
            <li>
                <b>Distribution Requirements:</b>
                If you plan on distributing the open source component in a Microsoft Product or Service, 
                you must take additional steps, as guided by legal alerts, that might include:
                <ul>
                    <li><b>NOTICE generation. </b>
                        A NOTICE file is required. The automated NOTICE tool can create the file to
                        distribute it with the product.
                    </li>
                    <li><b>Make Source Code Available.</b>
                        For components under certain licenses, you must make source code available 
                        on Microsoft's Third-Party Source Code Disclosures site. The extent of the 
                        source code disclosure will depend on the type of license.
                    </li>
                    <li><b>Enhanced License Compliance.</b> Some products require additional license
                        compliance work.
                    </li>
                </ul>
            </li>
            <li><b>Code Signing:</b> Ensure you are complying with the code signing requirements.
            <li>
                <b>Open Source That Does Not Require Registration:</b>
                You do not need to register software you install as an end user that 
                is based on open source, e.g. Microsoft Edge web browser, Mozilla Firefox,
                Microsoft Visual Studio Code, Atom.
            </li>
        </ul>
    </div>
</div>

