<div class="pb-6">
    <p>
        We encourage our employees to contribute to open source communities. Data shows
        that tens of thousands of our engineers are active on GitHub regularly, many
        contributing to great open source projects that help everyone.
    </p>
    
    <div class="mt-6">
        <h4 class="h4">Contributing to open source</h4>
        <p><em>This is a summarized, distilled look at general open source contribution requirements 
            at Microsoft.</em></p>
        <p>
            Contributing back to the projects we use is a key element of the open source 
            process. Contributing our own improvements enhances the value we derive from 
            the project and drives the project forward. Microsoft open source contribution 
            policy varies depending on the size and purpose of the contribution.
        </p>
        <ul class="ul mt-4">
            <li>
                <b>Small changes:</b> 
                If your contribution meets the small contribution exception (like a bug fix), just 
                create a fork, make the fix, and submit a pull request. If making the pull 
                request on GitHub, you can create the fork in your personal GitHub account, rather 
                than an official Microsoft organization account.

                <br/>
                <br/>
                While the small contribution policy outlines all the specifics, we've made it easy
                to contribute to a number of great projects: small contributions can be made if there is
                no Contributor License Agreement (CLA), or, there is a list of specific CLAs that can
                be signed, such as those for the Apache Foundation, Eclipse Foundation, Linux Foundation,
                Google open source projects, the .NET Foundation, Python Software Foundation, and the
                Unicode Consortium.
            </li>
            <li>
                <b>Larger changes:</b>
                If the contribution is larger get your contribution reviewed and approved. If the 
                contribution is to a project on GitHub, it can come from your individual GitHub 
                account (though do identify yourself as a Microsoft employee) or in some cases 
                as more of a hard fork from an official Microsoft organization, and make the 
                pull request from there.
                <ul>
                    <li><b>Scoping Your Request.</b> When you fill out the contribution request, 
                        describe the full extent of the functionality you intend to contribute with 
                        your community engagement. So long as you stay within this description, 
                        the great news is that you do not have to file a registration for each 
                        individual contribution. However, if subsequent contributions go beyond the 
                        initial scope, you need to do another Contribution request.
                    </li>
                    <li><b>Contributor License Agreements.</b> As part of the review process, you 
                        will be asked whether the project requires a Contributor License Agreement. The 
                        project's contributing guide will typically have this information.
                    </li>
                </ul>
            </li>
            <li>
                <b>Outside of Work Contributions:</b> If you are contributing to projects on your 
                own time, this work is covered by your employment agreement and the Microsoft 
                moonlighting policy. Read the policy and talk with your management to determine whether 
                your contributions meet the policy.
            </li>
            <li>
                <b>Meet Community On Its Own Terms:</b>
                Note that different open source communities take contributions in different ways. 
                Before firing off a pull request, investigate how best to engage the community you 
                will be contributing back to.
            </li>
            <li>
                <b>Fork Nicely:</b> Always try to contribute to a community instead of hard 
                forking. Review internal guidelines and training before forking into a Microsoft org.
            </li>
    </div>


</div>
