<div class="pb-6">
    <h3 class="h3 mb-4">Tools &amp; Services</h3>
    <p>
        Microsoft uses many tools and services in supporting its open source program. Here are
        just a few that you may find useful in your own company or open source community.
    </p>

    <div class="accordion">
        <div class="accordion__hd">
            <h4 class="h4">User Managment</h4>
        </div>
        <div class="accordion__bd">
            <div>
                <p>When interfacing with third-party services such as GitHub, it is important to be able to identify
                    employees at the same company working together on open source.</p>
                <p>While GitHub allows organization members to publicize their organization membership on their
                    individual profile, there is more to know. GitHub user management solutions will offer the following
                    capabilities:</p>
                <ul class="ul mt-4">
                    <li><b>Employment lifecycle automation:</b> Employees should be able to join a company organization,
                        if authorized, without needing a manual invitation. When an employee decides to leave the
                        company, their access to company resources and GitHub organization membership should be removed.
                    </li>
                    <li><b>User linking:</b> Authenticating an employee with IT and also GitHub to associate the GitHub
                        account</li>
                    <li><b>Communications:</b> By linking an employee's corporate identity with their GitHub account,
                        comms are possible without having to ask the user to share their email address or other
                        information on their public profile.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion__hd">
            <h4 class="h4">CLA Assistant</h4>
        </div>
        <div class="accordion__bd">
            <div>
                <p>TBD</p>
                <ul class="ul mt-4">
                    <li>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion__hd">
            <h4 class="h4">GitHub data</h4>
        </div>
        <div class="accordion__bd">
            <div>
                <p>TBD</p>
                <ul class="ul mt-4">
                    <li>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion__hd">
            <h4 class="h4">Business review process</h4>
        </div>
        <div class="accordion__bd">
            <div>
                <p>TBD</p>
                <ul class="ul mt-4">
                    <li>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
