<aside id="subscribe">
    <div class="col-12 bg-light">
        <div class="wrapper-wide">

            <div class="py-6" id="subscribe-wrap">

                <div id="mc_embed_signup">

                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe-form py-6" target="_blank" rel="noopener noreferrer" novalidate="novalidate">
                        <div id="mc_embed_signup_scroll">

                            <div class="subscribe-details">
                                <h3 class="h3 mb-2">Stay in the loop</h3>
                                <p class="p-md">Get updates about Open Source for Good in your inbox.</p>
                            </div>

                            <div class="form-body">
                                <div class="field-group">
                                    <label for="mce-FNAME" class="sr-only">first name</label>
                                    <input type="text" placeholder="First name" value="" name="FNAME" class="required firstname" id="mce-FNAME">
                                    <div for="mce-FNAME" class="mce_inline_error">This field is required.</div>
                                </div>
                                <div class="field-group">
                                    <label for="mce-EMAIL" class="sr-only">Email Address</label>
                                    <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    <div for="mce-EMAIL" class="mce_inline_error">This field is required.</div>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d7ced8c4bbd6c2f238673f0f_90d5ac6af4" tabindex="-1" value=""></div>
                            </div>

                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>

                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"><span>Subscribe</span></button>
                        </div>
                    </form>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


                </div>
            </div>

            <img class="footer-img" src="{{ '/assets/images/direction/footer-img.png' | relative_url }}" alt="image collage" />
        </div>
    </div>

    <div class="modal-wrap" id="subscribe-modal">
        <div class="modal"></div>
        <div class="modal__close js-subscribe-close">{% octicon x %}</div>
        <div class="screen js-subscribe-close"></div>
    </div>
</aside>
