<article
class="activity"
style="display: none;"
id="activity{% raw %}{{ id }}{% endraw %}">
<p>
    {% raw %}{{#if activity.actorAvatar }}{% endraw %}
    <a href="https://github.com/{% raw %}{{ activity.actorLogin }}{% endraw %}" target="_new">
        <img
            src="{% raw %}{{ activity.actorAvatar }}{% endraw %}"
            style="width:24px;display: inline-block; padding-right: 6px; border-radius: 50%;" />
            {% raw %}{{ activity.actorLogin }}{% endraw %}
    </a>
    {% raw %}{{/if}}{% endraw %}
    <strong>{% raw %}{{ description }}{% endraw %}</strong>
    <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">
        {% raw %}{{ activity.title }}{% endraw %}
    </a>
    in the 
    {% raw %}{{{ octicon }}}{% endraw %}
    <a href="{% raw %}{{ activity.activityUrl }}{% endraw %}" target="_new">{% raw %}{{ activity.orgName }}/<strong>{{ activity.repoName }}</strong> repo{% endraw %}</a>
    <time class="timeago" datetime="{% raw %}{{ activity.created }}{% endraw %}">{% raw %}{{ activity.created }}{% endraw %}</time>
</p>
</article>