// ---------------------------------------------------------------------
//  Global Header Styles
// ---------------------------------------------------------------------

$header-height-sm: 54px;
$header-height: 64px;

body {
	padding-top: $header-height-sm;

	@include start-at($header-breakpoint) {
		padding-top: $header-height;
	}
}


#site-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	padding: 0;
	color: $white;
	transition: opacity $trans, filter $trans, background $trans;
	font-size: 13px;
	border-bottom: 1px solid #484644;

	svg {
		display: block;
	}

	&.is-sticky {
		opacity: 0;

		&.scrolling-up {
			background: $black;
			opacity: 1;
		}
	}

	@include start-at($header-breakpoint) {
		//background: transparent;
    }
}

.site-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $header-height-sm;
	background: $black;
	position: relative;
	z-index: 9;
	width: 100%;
	padding: 0 0 0 20px;

	@include start-at($header-breakpoint) {
		height: $header-height;
		padding: 0 3%;
    }
}

// body.menu-is-open #site-header {
// 	filter: blur(2px);
// }

// ----------------------------------------
// Logo
// ----------------------------------------


.site-logo {
	position: relative;
	z-index: 9;
	margin: 0;
	padding: 0;
	width: 200px;

	@include start-at($small) {
		//width: 25%;
		margin-right: 32px;
		width: 260px;
	}

	@include start-at($header-breakpoint) {
		//width: 25%;
		margin-right: 32px;
		width: 200px;
	}

	@include start-at($large) {
		//width: 25%;
		margin-right: 48px;
		width: 260px;
	}

	a {
		display: block;
		width: 100%;
		max-width: 100%;
		position: relative;
	}

	img {
		display: block;
		width: 100%;
		transition: opacity 0.2s ease;
	}
}


// ----------------------------------------
// Nav
// ----------------------------------------

.site-header__nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;

	@include stop-at($header-breakpoint) {
        display: none !important;
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

	li {
		margin-right: 16px;

		@include start-at($large) {
			margin-right: 24px;
		}
	}

	a {
		position: relative;

		&:before {
			content: '';
			width: 100%;
			height: 3px;
			background: $brand;
			position: absolute;
			bottom: -6px;
			left: 0;
			display: block;
			transform-origin: center;
			transform: scaleX(0);
			transition: transform $trans;

			@media (forced-colors: active) {
				background: $white;
			}
		}

		&.external {
			display: flex;

			&:after {
		        font-family: $icons;
		        content: '\E72A';
		        transform: rotate(-45deg);
		        display: block;
		        transition: transform $trans;
		        margin-left: 4px;
		    }

			&:hover:after {
				transform: translate3d(2px, -1px, 0) rotate(-45deg);
			}
		}
	}

	li a:hover {
		&:before {
			transform: scaleX(.6);
		}
	}

	li.is-active a:before {
		transform: scaleX(1);
	}

	@include stop-at($header-breakpoint) {
		display: none;
	}

}



// ----------------------------------------
// Utilities
// ----------------------------------------

.site-header__utilities {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	@include start-at($medium) {

	}
}


// ----------------------------------------
// Burger
// ----------------------------------------

.nav-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background $trans;
    width: $header-height-sm;
    height: $header-height-sm;

	@include start-at($header-breakpoint) {
		display: none;
	}

    &:hover {
        cursor: pointer;
    }

    img {
        position: absolute;
        transition: opacity 0.1s ease;
    }

    .open-menu {
        opacity: 1;
    }
    .close-menu {
        opacity: 0;
    }
}

body.menu-is-open {
	.nav-trigger {
		background: $gray-800;
	}
}



// ----------------------------------------
// Search
// ----------------------------------------


form.search-form {
	display: flex;
	position: relative;
	font-size: 13px;

	label {
		display: block;
		position: absolute;
		top: 50%;
		left: 8px;
		transform: translate3d(0, -50%, 0);

		svg {
			width: 16px;
			height: 16px;
			fill: currentColor;
		}
	}

	input {
		border: 1px solid #F3F2F1;
		border-radius: 2px;
		background: transparent;
		width: 100%;
		height: 40px;
		padding: 0 18px 0 30px;
		color: $gray-200;
		font-size: 13px !important;
	}
}

.site-header__search {

	.search-trigger {
		width: $header-height-sm;
		transition: opacity $trans;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}

		@include start-at($header-breakpoint) {
			display: none;
		}
	}

	.search-form {
		display: none;

		@include start-at($header-breakpoint) {
			display: flex;
		}

		@include start-at($large) {
			width: 254px;
		}
	}
}

.search-form-mobile {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	background: $black;
	padding: 0;
    z-index: 9;
    right: 108px;
    width: calc(100% - 128px);
    height: 54px;
	display: none;

	form {
		width: 100%;

		label {
			@include visually-hidden;
		}

		input {
			padding: 0 16px;
		}
	}

}

body.search-is-open {
	overflow: hidden;

	.search-form-mobile {
		display: flex;
	}
}


// ----------------------------------------
// Sign In
// ----------------------------------------

.sign-in {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: 24px;
	font-size: 13px;

	@include start-at($large) {
		margin-left: 40px;
	}

	transition: opacity $trans;

	&:hover {
		opacity: 0.6;
	}
}

.account-img {
	display: block;
	width: 36px;
	height: 36px;
	margin-left: 12px;
	background: url('../images/svgs/signin.svg') center / cover no-repeat;
}

.site-header__utilities {

	.sign-in {
		display: none;

		@include start-at($header-breakpoint) {
			display: flex;
		}
	}
}
