// ---------------------------------------------------------------------
//  Navigation
// ---------------------------------------------------------------------



// ----------------------------------------
// Navigation
// ----------------------------------------

.site-navigation {
    width: 100%;
    position: fixed;
    height: 100%;
    top: $header-height-sm;
    right: 0;
    z-index: 7;
    background: $black;
    transition: transform $trans;
    transform: translate3d(100%,0,0);
    overflow-y: auto;
    display: none;

    @include stop-at($header-breakpoint) {
        padding-bottom: 200px;
    }

    @include start-at($header-breakpoint) {
        display: none !important;
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    @include start-at($medium) {
        max-width: 480px;
    }

    > * {
        overflow: hidden;
    }


    .main-nav {
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid $gray-700;

            &:first-child {
                padding-top: 1px;
            }
        }

        a:not(.sign-in) {
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: $gray-300;
            padding: 14px 20px;
            transition: color $trans;

            &.is-active,
            &:hover {
                color: $white;
            }
        }

        a.sign-in {
            padding: 7px 20px;
            color: $gray-300;
            display: flex;
            justify-content: flex-start;
            margin-left: 0;
         }
    }
}

body.page-ready {
    @include stop-at($header-breakpoint) {
        .site-navigation {
            display: block;
        }
    }
}



// ----------------------------------------
// Bar & Trigger
// ----------------------------------------

.nav-bar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $black;
    z-index: 10;
    display: none;

    @include start-at($header-breakpoint) {
    //    display: block;
    }
}



// ----------------------------------------
// Menu is open
// ----------------------------------------

.navigation-screen {
    display: none;
}

body.menu-is-open {
    overflow: hidden;
    .site-navigation {
        transform: translate3d(0,0,0);
    }
    .open-menu {
        opacity: 0;
    }
    .close-menu {
        opacity: 1;
    }

    .navigation-screen {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 6;

        &:hover {
            cursor: crosshair;
        }
    }
}
