

.accordion {
    margin: 0 auto;

    a {
        color: $brand-dark;
    }

}

.accordion__hd {
    position: relative;
    padding: 18px 0;
    padding-right: 52px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    h4 {
        display: flex;
        align-items: center;
        transition: color $trans, opacity $trans;
        color: $brand;

        &:before {
            content: '\E70D';
            display: block;
            font-family: $icons;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            margin-right: 17px;
            transform: rotate(-90deg);
            transition: transform $trans;
        }
    }

    &:hover {
        cursor: pointer;
    }

    .is-open & {
        h4:before {
            transform: rotate(0deg);
        }
    }
}

.accordion__bd {
    max-height: 0;
    overflow: hidden;
    padding-left: 38px;
    
    transition: max-height 0.4s ease-out;
    
    > * {
         padding-bottom: 16px;
    }
}

.accordion--short {
    .accordion__hd {
        padding-bottom: 12px;
    }
}

.accordions__expand-all {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;

    @include start-at($medium) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    span {
        color: $gray-500 !important;
    }

    svg {
        margin-right: 8px;
        background: $gray-700;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transition: transform 0.6s ease;
    }

    &.is-open {
        svg {
            transform: rotate(135deg);
        }
    }
}


// .faq {
//     .accordion {
//         margin-bottom: 16px;
//
//         @include start-at($medium) {
//             margin-bottom: 36px;
//         }
//     }
//
//     .accordion__hd {
//
//         .h6 {
//             text-transform: none;
//             line-height: 1.4;
//             letter-spacing: 0;
//             font-size: 15px !important;
//
//             @include start-at($medium) {
//                 font-size: 22px !important;
//             }
//         }
//
//         &:hover {
//
//             @include stop-at($medium) {
//                 .h6 {
//                     color: $gray-600;
//
//                 }
//             }
//         }
//     }
//
//     .accordion__bd {
//         padding-left: 0;
//     }
// }
