// ---------------------------------------------------------------------
//  Projects
// ---------------------------------------------------------------------

#activityFeed {
    width: 100%;
}

.activity {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 928px;
    width: 100%;
    margin-bottom: 16px;

    a {
        color: $blue-600;
    }
}

.activity__avatar {
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 12px;

    @include start-at($medium) {
        width: 64px;
        height: 64px;
        margin-right: 20px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.activity__body {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.13), 0px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px 20px;
    position: relative;
    min-height: 114px;
    width: 100%;
    z-index: 1;
    background: white;

    &:after {
        content: '';
        @include cover-parent;
        background: white;
        z-index: -1;
        //box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.13), 0px 2px 1px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    &:before {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        right: calc(100% - 7px);
        z-index: -2;
        background: white;
        top: 27px;
        box-shadow: -2px 0px 8px 0px rgba(0,0,0,0.13);
        transform: rotate(-45deg);
        //box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.13), 0px 2px 1px rgba(0, 0, 0, 0.1);
    }
}

.good-first-issue .activity__body {
    &:after,
    &:before {
        display: none;
    }
}

.activity__body-hd {

    a {
        font-weight: 600;
        font-size: 18px;
    }

    @include start-at($medium) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.activity__activity {
    font-size: 14px;
    font-style: italic;

    @include start-at($medium) {
        text-align: right;
    }
}


.activity__title {
    font-weight: 400;
    font-size: 18px;
    display: block;
    margin: 8px 0 12px;
}

.activity__footer {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;

    svg {
        margin-right: 8px;
    }
}

// ----------------------------------------
//
// ----------------------------------------
