// ---------------------------------------------------------------------
//  One Offs
// ---------------------------------------------------------------------

.intro-svg {
    max-width: 100%;
    width: 100%;

    svg {
        width: 100%;
    }
}
