// ---------------------------------------------------------------------
//  Projects
// ---------------------------------------------------------------------


.project-wrap {
    max-width: $projectWidth;
    margin: 0 auto;

    .project {
        margin-bottom: 16px
    }
}

.project-list {

}


// ----------------------------------------
// Project
// ----------------------------------------

.project {
    padding: 18px;
    background: $white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    position: relative;

    @include start-at($small) {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}


.project__social-image {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 24px;
    max-height: 340px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project__details {
    flex-grow: 1;
    padding-right: 12px;
    width: 100%;
}


.project__overview {
    font-size: 18px;
    color: $brand;
    margin-top: 6px;

    a {
        transition: color $trans;
    }

    a:hover {
        cursor: pointer;
        color: darken($brand, 5%);
    }

    .project__name {
        font-weight: 600;
    }
}

.project__name {
    color: darken($brand, 8%);
}

.project__details > p {
    font-size: 14px;
}

.project__meta {
    display: flex;
}


.project__tags {
    span {
        display: inline-block;
        background: #F3F2F1;
        font-size: 12px;
        padding: 3px 8px;
        margin-right: 8px;
    }
}


#projectResults {
    position: relative;
    z-index: 2;
    min-height: 240px;

    &:after {
        content: '';
        position: absolute;
        top: 100px;
        left: calc(50% - 22px);
        background: red;
        width: 44px;
        height: 44px;
        z-index: 3;
        pointer-events: none;
        background: url('../images/svgs/reload.svg') center / cover no-repeat;
        transition: transform 3s ease-in-out, opacity 0.2s ease;
        opacity: 0;
    }

    .project-list {
        position: relative;
        z-index: 2;
        transition: opacity 0.8s ease;
    }

    &.is-thinking {
        .project-list {
            opacity: 0.3;
        }

        &:after {
            opacity: 1;
            transform: rotate(1080deg);
        }
    }
}


.project__repo_url,
.project__url {
    font-size: 14px;
    color: $brand-dark !important;
    display: inline-flex;
    align-items: center;
    transition: color $trans;

    svg,
    .ms-icon {
        margin-left: 6px;
        display: block;
        font-size: 12px;
    }

    &:hover {
        cursor: pointer;
        color: darken($brand-dark, 5%);
    }
}

.project__url {

    .ms-icon {
        font-size: 12px;
        transform: rotate(-45deg);
    }
}

.project__urls {
    display: flex;
    align-items: center;
    margin-top: 12px;

    // @include start-at($small) {
    //     position: absolute;
    //     top: 18px;
    //     right: 18px;
    //     margin-top: 0;
    // }

    > * + * {
        margin-left: 16px;
    }
}
