// ---------------------------------------------------------------------
//  Split Content
// ---------------------------------------------------------------------


.split-content {
    min-height: 90vh;
    background: $gray-light;
    color: $white;

    @include start-at($medium) {
        display: flex;
        align-items: stretch;
    }

    .h2 {
        @include start-at($medium) {
            font-size: 42px !important;
        }
    }
}


.split-content__content {
    position: relative;
    z-index: 1;
    padding: 74px $wrapper-padding;

    @include start-at($medium) {
        width: 50%;
        min-width: 50%;
        padding: 74px 88px;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            width: 100%;
            max-width: 664px;
        }
    }

    img {
        position: absolute;
        z-index: 0;
        bottom: 10px;
        width: 56px;

        @include start-at($medium) {
            width: 156px;
        }
    }
}


.split-content__content--left {
    background: #258EDE;

    img {
        left: 10px;
    }

}


.split-content__content--right {
    background: #4F6BED;

    img {
        right: 10px;
    }
}


// ----------------------------------------
// Primer
// ----------------------------------------
