// ---------------------------------------------------------------------
//  Tiles
// ---------------------------------------------------------------------

.tile-list {

    @include start-at($large) {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;

        > * {
            width: calc(33.33% - 20px);
        }
    }

}

.tile-list--under-2 {
    justify-content: center;

    @include start-at($large) {
        > * {
            width: calc(33.33% - 20px);

            + * {
                margin-left: 30px;
            }
        }
    }
}

// ----------------------------------------
// tile
// ----------------------------------------

.tile {
    background: #F1F8FF;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.tile__hd {
    position: relative;
    background: #C8E1FF;

    > div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 108px;
    }

    > div:first-child {
        background: $blue-400;
        height: 72px;
        color: $white;
    }

    > div:nth-child(2) {
        color: $blue-400;
        height: 54px;

    }
}

.tile__hd__icon {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 60px;
    background: white;
}


.tile__bd {
    background: #F1F8FF;
    padding: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;



    > div {
        flex-grow: 1;
    }

    > a {
        display: block;
        margin-top: 16px;
    }
}
