// ---------------------------------------------------------------------
//  Utility Classes
// ---------------------------------------------------------------------

.has-accent {

    &:after {
        content: "";
        width: 100px;
        height: 2px;
        display: block;
        //background: $brand;
        margin: 20px auto;
    }
}

.has-accent-left {
    display: flex;

    &:before {
        content: "";
        height: 100px;
        width: 3px;
        display: block;
        background: $blue-400;
        margin: 0 24px 0 0;

        @include start-at($medium) {
            margin-right: 36px;
        }
    }
}


// ----------------------------------------
// Text
// ----------------------------------------

.text-center {
    text-align: center;

    p, img, .text-thin {
        margin-left: auto;
        margin-right: auto;
    }
}

.text-thin {
    max-width: 560px;
}

.text-brand {
   color: $blue-400;

   &.h6 {
       color: $blue-500;
    }
}

.text-white {
    color: $white;

    * {
        color: $white;
    }

    p a {
        color: $blue-300;
    }
}

.text-light {
    color: $gray-500;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}


// ----------------------------------------
// Backgrounds
// ----------------------------------------

.bg-brand {
    background: $blue-400;

    .link-arrow-external {
        font-weight: 500;
    }
}

.bg-brand-dark {
    background: darken($blue-400, 9%);
}

.bg-dark {
    background: $black;
}
.bg-light {
    background: $gray-100;
}


.bg-code {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: $gray-100;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 45%;
        height: 120%;
        top: -10%;
        z-index: -1;
        pointer-events: none;

        @include stop-at($small) {
            width: 20%;
        }

    }
    &:before {
        left: 0;
        background: url('../images/svgs/code-left.svg') center left  / auto 100% no-repeat;
    }

    &:after {
        right: 0;
        background: url('../images/svgs/code-right.svg') center right / auto 100% no-repeat;
    }
}


// ----------------------------------------
// Backgrounds
// ----------------------------------------

.bg-split {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 60px 0;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        background: $gray-100;

        @include start-at($large) {
            top: 0;
            width: calc(100% - 100px);
            height: 100%;
        }
    }
}



.bg-split__img {
    margin-left: auto;
}


.video-section-wrap {
    position: relative;
    z-index: 1;
    padding-top: 80px;


    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 160px;
        height: 158px;
        top: 40px;
        left: 3%;
        z-index: -1;
        background: url('../images/svgs/dot-grid-group.svg') left center / 100% auto no-repeat;
    }
}


.sr-only,
.screen-reader-text {
    @include visually-hidden;
}
